body {
    background:#fff;
    width:100%;
    padding:0;
    margin:0;
    font: normal 13px Arial, sans-serif;
}
#maintop { height:20px; padding:5px 0px 5px 20px; font-size:16px; line-height:20px; font-weight:bold; font-family:sans-serif; color:#fff; background-color:#336699;}
#main_menu { height:27px; background-color:#336699;}
#main_menu ul.jd_menu { float:left;}
#layout {
    width:100%;
    padding:0;
    margin:0;
    border-collapse:collapse;
    font: normal 13px Arial, sans-serif;
}
.section {
    padding:2px;
    background:#ffffff;
}
.login_form table {width:300px;}
.login_form input[type=text],input[type=password] {width:150px;}

#ust_panel {
    padding:0;
    margin:0;
    height:20px;
}
#icerik {
    padding:0px;
}
#loading_wrapper{
    height:20px;
    padding:4px;
    text-align:center;
    background:#ffffff;
}
.loading {
    display:none;
    margin:auto;
}
#toolbar {
    position:absolute;
    right:5px;
    top:5px;
}
#toolbar a {
    cursor:pointer;
}
#toolbar img {
    height:24px;
}
#log {
    height:80px;
    background:silver;
    overflow:scroll;
    border:0px;
}
.grid_fs{
    /*
border:0;
padding:0;
margin:0;
    */
}
.grid_title {
	font-weight:bold;
	font-size:120%;	
}
.tabClose {
	position:absolute;
	cursor: pointer;
	width:15px;
	height:15px;
	top:0px;
	right:0px;
	background:url('../images/tab_close-on.gif') no-repeat top right ;
}
div.error {
	color:#EE0000;
	text-align:center;
}
.grid_table {
	width:100%;
	font-size:11px;
}
.grid_menu {
	margin-bottom:13px;
}

.grid_menu span{
	padding:3px;
	cursor:pointer;
}
.grid_menu span a{
	text-decoration:none;
	font-weight:bold;
}
.grid_menu .ui-icon {

}
.grid_table tr {
	cursor:pointer;
}
.grid_table tr:hover {
	background:#E0E0E0;
}

.close_button {
	cursor:pointer;
    display:block;
    position: absolute;
    top:11px; right:2px;
	border:1px solid #DD0000;
	width:20px; height:20px;
	-webkit-border-radius:3px; border-radius:3px;
    background:url('../images/tab_close-on.gif') no-repeat center center #fff;
    text-indent:-999px;
    overflow: hidden;
}

.dataTables_length , .dataTables_filter {
	float:left;
	margin-right:25px;
}
.arama {
	display:none;	
}
.arama td{
	font-size:13px;
}
.arama td input{
	margin:0px;
}

.username {
	text-align:center;
	font-weight:bold;
	font-size:120%;
	margin-bottom:10px;
}
.editForm, .editForm td {font-size:13px; margin:0;}
.editForm td .info{font-size:80%;color:red; line-height:1;}
.editForm .wide {width:100%;min-width:400px;}
.editForm .high {height:150px;}
.editForm .editTable {width:100%; margin-top:10px;}
.editForm .editTable {border-collapse:collapse; border-spacing:0; border: 1px solid #ECF7FF;}
.editForm .editTable tr:nth-child(even) {background-color:#F9F9F9;}
.editForm .editTable td {padding:3px; border-bottom: 1px solid #ECF7FF;}
.editForm .editTable tr td:first-child {width:13%; max-width:15%; font-size:13px; line-height:16px; font-weight:bold; text-align: right; vertical-align: top; padding-top:7px; padding-right:10px;}
.editForm .editTable tr td:nth-child(2) {/*display:none;*/font-size:13px; line-height:16px; padding-left:0; padding-right:0; padding-top:7px;}
.editForm .editTable tr td:last-child {font-size:13px; line-height:20px; vertical-align:top;}
.editForm .editTable tr td input[type='text'],
.editForm .editTable tr td input[type='password'],
.editForm .editTable tr td textarea,
.editForm .editTable tr td select {min-width:150px; height:24px; margin:0; padding:1px 10px; border:1px solid #D3D3D3; font-size:13px; line-height:20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
.editForm .editTable tr td .wide {width:95%;}
.editForm .editTable tr td textarea {height:84px;}
.editForm .editTable tr td input[type='checkbox'] {width:16px; height:16px; margin:2px 0; vertical-align: middle;}
.editForm .editTable tr td input[type='submit'],
.editForm .editTable tr td input[type='reset'],
.editForm .editTable tr td button {padding:5px 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; outline:0;}

.dataTables_wrapper .fg-toolbar {padding:0px 6px;}
.dataTables_wrapper .fg-toolbar:first-child {padding:6px;}
.grid_table {font-size:12px; font-family:Verdana; border: medium none; border-collapse: collapse; border-spacing: 0; border-top: 1px solid #C5DBEC; border-right: 1px solid #C5DBEC; }
.grid_table tr { background-color:#fff;}
.grid_table tr.even {background-color:#F9F9F9;}
.grid_table tr:hover { background-color:#E1DCF4;}
.grid_table th {height:30px;}
.grid_table tbody td { border-bottom: 1px solid #C5DBEC; border-left: 1px solid #C5DBEC; overflow: hidden; padding:4px 2px; text-align: left; min-height:22px; width:auto; overflow:hidden; vertical-align: middle;}
.grid_table td .grid_satir_goster,
.grid_table td .grid_satir_duzenle,
.grid_table td .grid_satir_sil {float:left; display:block; text-indent: 100%; white-space: nowrap; overflow: hidden; width:16px; height:16px; margin:0px 2px; background-image: url(ui/redmond/images/ui-icons_6da8d5_256x240.png);} 
.grid_table td .grid_satir_goster:hover,
.grid_table td .grid_satir_duzenle:hover,
.grid_table td .grid_satir_sil:hover {background-image: url(ui/redmond/images/ui-icons_217bc0_256x240.png);} 
.grid_table td .grid_satir_goster {background-position: -160px -112px;}
.grid_table td .grid_satir_duzenle {background-position: -64px -112px; }
.grid_table td .grid_satir_sil {background-position: -80px -128px;}
.grid_menu span a {position:relative; padding-left:18px;}
.grid_menu span a:before {content:""; display:block; width:16px; height:16px; position: absolute; top:0; left:0; background-image: url(ui/redmond/images/ui-icons_6da8d5_256x240.png); background-repeat: no-repeat;}
.grid_menu span a:hover:before {background-image: url(ui/redmond/images/ui-icons_217bc0_256x240.png); background-repeat: no-repeat;}
.grid_menu span a.grid_yenile:before { background-position:-64px -80px;}
.grid_menu span a.grid_satir_ekle:before { background-position:-32px -128px;}
.grid_menu span a.grid_arama:before { background-position:-160px -112px;}
.grid_menu span a.grid_export_xls:before { background-position:-96px -112px;}

.css_right {float:right;}

fieldset {position:relative; border:1px solid #c5dbec; font-size:13px; margin:10px; padding:10px; -webkit-border-radius:5px; border-radius:5px;}
fieldset td {font-size:12px; font-family:Arial, sans-serif; vertical-align:top; padding:2px;}

.ui-tabs .ui-tabs-panel {padding:0 !important;}

.permtree {padding:0 !important; margin:0 !important;}
.permtree li{padding:0; margin:5px 0 0 0;}
.permtree>li{background-color:#fff; padding:5px; margin:5px 0; border: 1px solid #D3D3D3; -webkit-border-radius: 5px; border-radius: 5px; }
.permtree>li>ul{background-color:#F9F9F9;}
.permtree>li>ul>li>ul{background-color:#fff;}
.permtree>li>ul>li>ul>li>ul{background-color:#F9F9F9;}
.permtree>li>ul>li>ul>li>ul>li>ul{background-color:#fff;}
.permtree>li>ul>li>ul>li>ul>li>ul>li>ul{background-color:#F9F9F9;}
.permtree>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul{background-color:#fff;}
.permtree>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul{background-color:#F9F9F9;}
/*.permtree>li:nth-child(even){background-color:#F9F9F9;}*/