<IfModule mod_rewrite.c>
RewriteEngine On

# Set base path for rewrite
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ../../image.php?img=$1 [L]
</IfModule>
