/* ========== variables start ========== */
/* ========== variables end ========== */
/* ========== mixins start ========== */
/* ========== variables end ========== */
/* ========== fonts start ========== */
@font-face {
  font-family: 'Geogrotesque';
  src: url("../fonts/geogrotesque-regular.woff2") format("woff2"), url("../fonts/geogrotesque-regular.woff") format("woff"), url("../fonts/geogrotesque-regular.ttf") format("truetype"), url("../fonts/geogrotesque-regular.eot") format("eot");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Geogrotesque';
  src: url("../fonts/geogrotesque-medium.woff2") format("woff2"), url("../fonts/geogrotesque-medium.woff") format("woff"), url("../fonts/geogrotesque-medium.ttf") format("truetype"), url("../fonts/geogrotesque-medium.eot") format("eot");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Geogrotesque';
  src: url("../fonts/geogrotesque-semibold.woff2") format("woff2"), url("../fonts/geogrotesque-semibold.woff") format("woff"), url("../fonts/geogrotesque-semibold.ttf") format("truetype"), url("../fonts/geogrotesque-semibold.eot") format("eot");
  font-weight: 700;
  font-style: normal; }

/* ========== fonts end ========== */
html {
  font-family: "Geogrotesque", sans-serif;
  font-weight: 300; }

.uk-navbar-nav > li > a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geogrotesque", sans-serif;
  font-weight: 700; }

body {
  overflow-x: hidden;
  width: 100%; }
  body * {
    outline: none; }
  body img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  body a,
  body p,
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

a,
a:hover {
  text-decoration: none !important;
  outline: none; }

p {
  color: #333333;
  font-size: 17px; }

.uk-sticky-placeholder {
  display: none; }

.uk-grid + .uk-grid {
  margin-top: 0px; }

.uk-open .uk-modal-dialog {
  max-width: 900px; }

/* ========== header start ========== */
.info-header {
  min-height: 115px;
  background-color: #013F76;
  padding: 17px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .info-header .uk-dropdown {
    padding-top: 35px;
    background-color: #013F76; }
    .info-header .uk-dropdown a {
      color: #FFFFFF;
      font-size: 15px;
      line-height: 1.5;
      font-weight: 700;
      text-align: left; }

      .info-header-logo {
          z-index: 1;
          background-image: -webkit-radial-gradient(circle 79px at center, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.3) 90%, transparent);
          background-image: -o-radial-gradient(circle 79px at center, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.3) 90%, transparent);
          background-image: radial-gradient(circle 79px at center, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.3) 90%, transparent);
      }

.info-header-menu {
  padding-top: 17px; }

.uk-navbar {
  background: none; }

.uk-navbar-nav > li > a {
  color: #FFFFFF;
  font-size: 15px;
  height: auto;
  line-height: 1; }

.uk-navbar-nav > li:last-child > a {
  padding-right: 0px; }

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li.uk-open > a {
  background: none;
  color: #FFFFFF; }

.info-header-input input {
  width: 190px;
  height: 30px;
  border-radius: 4px; }

.info-header-input button {
  height: 30px;
  border: none;
  background: none;
  padding: 8px;
  cursor: pointer; }

.info-header-search {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.info-header-language ul {
  list-style: none;
  margin: 0px;
  padding-left: 5px; }

.info-header-language li {
  margin-left: 4px; }

/* ========== header end ========== */
/* ========== mobile-header start ========== */
.info-mobile-header {
  padding: 0px 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .info-mobile-header img {
    width: 80px; }
  .info-mobile-header .uk-icon-bars {
    right: 20px;
    top: calc(50% - 13px);
    font-size: 26px; }

#info-mobile-menu .uk-offcanvas-bar {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px #000000;
  box-shadow: 0px 0px 6px #000000;
  padding: 30px 20px 0px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #info-mobile-menu .uk-offcanvas-bar .info-mobile-menu-logo {
    margin-bottom: 20px;
    text-align: center;
    background-color: #FFFFFF;
    padding: 10px; }
    #info-mobile-menu .uk-offcanvas-bar .info-mobile-menu-logo img {
      width: 100px; }
  #info-mobile-menu .uk-offcanvas-bar .uk-form {
    margin-bottom: 20px; }
    #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls {
      position: relative; }
      #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls input {
        width: 100%;
        padding-left: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        color: #FFFFFF;
        background-color: #1A74BA; }
        #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls input::-webkit-input-placeholder {
          color: #FFFFFF; }
        #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls input:-moz-placeholder {
          color: #FFFFFF; }
        #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls input::-moz-placeholder {
          color: #FFFFFF; }
        #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls input:-ms-input-placeholder {
          color: #FFFFFF; }
        #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls input:placeholder-shown {
          color: #FFFFFF; }
      #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls button,
      #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls i {
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        width: 30px;
        height: 30px;
        display: block; }
      #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls button {
        border: none;
        background: none;
        font-size: 15px;
        color: #FFFFFF; }
        #info-mobile-menu .uk-offcanvas-bar .uk-form .uk-form-controls button i {
          line-height: 30px; }
  #info-mobile-menu .uk-offcanvas-bar ul .uk-open > a {
    background-color: transparent; }
  #info-mobile-menu .uk-offcanvas-bar ul li a {
    font-size: 15px;
    padding: 8px 0px;
    color: #828080;
    font-weight: 600; }
    #info-mobile-menu .uk-offcanvas-bar ul li a:focus {
      background-color: transparent; }
    #info-mobile-menu .uk-offcanvas-bar ul li a:hover {
      color: #1A74BA; }
  #info-mobile-menu .uk-offcanvas-bar ul li .uk-nav-sub {
    padding-left: 20px; }
  #info-mobile-menu .uk-offcanvas-bar ul li:hover a {
    background-color: transparent; }
  #info-mobile-menu .uk-offcanvas-bar ul li.uk-active a {
    background-color: transparent; }
  #info-mobile-menu .uk-offcanvas-bar .info-mobile-language {
    text-align: left;
    margin-top: 20px; }
    #info-mobile-menu .uk-offcanvas-bar .info-mobile-language a {
      font-weight: 700;
      color: #1A74BA; }

#info-mobile-menu .info-header-language {
  margin-top: 20px; }
  #info-mobile-menu .info-header-language ul {
    padding-left: 0px; }
  #info-mobile-menu .info-header-language li {
    margin-left: 0px;
    margin-right: 5px; }

/* ========== mobile-header end ========== */
/* ========== slider start ========== */
.info-slider::after {
  content: '';
  position: absolute;
  bottom: -46px;
  left: 0px;
  width: 100%;
  height: 97px;
  background-image: url("../images/slider/slider-bottom-1.png"); }

.info-slider .uk-dotnav {
  margin-bottom: 80px; }

.uk-slidenav-position .uk-slidenav {
  display: block; }

.uk-slidenav,
.uk-slidenav:hover,
.uk-slidenav:active,
.uk-slidenav:focus {
  color: white; }

.uk-dotnav > * > * {
  background-color: #FFFFFF; }

.uk-dotnav > .uk-active > * {
  background-color: rgba(255, 255, 255, 0.5); }

.uk-dotnav > * > :hover,
.uk-dotnav > * > :focus {
  background-color: rgba(255, 255, 255, 0.5); }

.slider-bottom::after {
  content: '';
  z-index: 2;
  position: absolute;
  bottom: -46px;
  right: 0px;
  width: 250px;
  height: 97px;
  background-image: url("../images/slider/slider-bottom-2.png"); }

.info-slider-mobile {
  display: none; }

@media screen and (max-width: 979px) {
  .info-slider {
    display: none; }
  .info-slider-mobile {
    display: block; } }

/* ========== slider end ========== */
/* ========== home start ========== */
/*
 * video
 */
.info-video {
  margin-top: 65px; }
  .info-video-item header {
    background-color: #1A74BA;
    height: 73px; }
    .info-video-item header h4 {
      margin: 0px;
      max-width: 194px;
      line-height: 1.2;
      color: #FFFFFF;
      font-size: 15px; }
  .info-video-item a::after {
    content: '';
    position: absolute;
    left: calc(50% - 27px);
    top: calc(50% - 27px);
    width: 53px;
    height: 53px;
    background-image: url("../images/home/video-icon.png"); }

/*
 * title
 */
.info-title {
  padding: 20px;
  margin: 20px 0px;
  background-color: #25A8DF; }
  .info-title h3 {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.3; }

/*
 * company
 */
.info-company-home-text {
  padding: 50px 0px 50px 10px;
  min-height: 204px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .info-company-home-text p {
    font-size: 15px;
    padding: 15px 0px;
    border: solid #DDDDDD;
    border-width: 1px 0px 1px 0px;
    margin-bottom: 0px; }

.info-company-home-img {
  padding-top: 15px; }

.info-home-company-title {
  font-size: 20px;
  color: #1A74BA;
  z-index: 1;
  left: 10px;
  top: 15px; }
  .info-home-company-title span {
    color: #25A8DF; }

.info-home-company-button {
  font-size: 13px;
  color: #1A74BA;
  font-weight: 700;
  left: 15px;
  bottom: 10px; }

.info-company .uk-slidenav {
  position: absolute;
  top: 10px;
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
  font-size: 30px;
  margin-top: 0px; }
  .info-company .uk-slidenav-previous {
    left: calc(49% - 25px);
    color: #AAAAAA; }
    .info-company .uk-slidenav-previous::before {
      content: '\f0d9'; }
  .info-company .uk-slidenav-next {
    right: 51%;
    color: #777777; }
    .info-company .uk-slidenav-next::before {
      content: '\f0da'; }

.info-company .uk-slider-container {
  border: 1px solid #BBBBBB; }

.info-company-home-list-item h3 {
  font-size: 18px;
  color: #013F76;
  border-bottom: 1px solid #25A8DF;
  padding-bottom: 7px; }

.info-company-home-list-item p {
  padding: 0px 15px; }

.info-company-home-contact {
  margin-top: 30px;
  margin-bottom: 30px; }
  .info-company-home-contact .info-company-home-contact-left,
  .info-company-home-contact .info-company-home-contact-right {
    background-color: #C6E2FF;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .info-company-home-contact .info-company-home-contact-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 35px 25px 25px 25px; }
    .info-company-home-contact .info-company-home-contact-left h4 {
      font-size: 35px;
      font-weight: 500;
      color: #013F76;
      width: 100%;
      margin: 0px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .info-company-home-contact .info-company-home-contact-left h4::before {
        content: '';
        display: inline-block;
        width: 42px;
        height: 61px;
        background-image: url("../images/home/info-icon.png");
        margin-right: 10px; }
    .info-company-home-contact .info-company-home-contact-left a.info-phone {
      font-size: 23px;
      font-weight: 500;
      color: #013F76;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 50%; }
      .info-company-home-contact .info-company-home-contact-left a.info-phone::before {
        content: '';
        display: inline-block;
        width: 28px;
        height: 29px;
        background-image: url("../images/home/phone-icon.png");
        margin-right: 10px; }
    .info-company-home-contact .info-company-home-contact-left ul {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      list-style: none;
      padding: 0px;
      margin: 30px 0px; }
      .info-company-home-contact .info-company-home-contact-left ul li a {
        font-size: 35px;
        margin-left: 12px; }
        .info-company-home-contact .info-company-home-contact-left ul li a.info-envelope::before {
          content: '';
          display: inline-block;
          width: 32px;
          height: 32px;
          background-image: url("../images/home/envelope-icon.png"); }
        .info-company-home-contact .info-company-home-contact-left ul li a.uk-icon-linkedin-square {
          color: #1396EE; }
        .info-company-home-contact .info-company-home-contact-left ul li a.uk-icon-facebook-square {
          color: #356BC2; }
    .info-company-home-contact .info-company-home-contact-left p {
      color: #013F76;
      font-weight: 500;
      margin: 0px; }
  .info-company-home-contact .info-company-home-contact-right {
    padding: 25px 50px; }
    .info-company-home-contact .info-company-home-contact-right header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      max-width: 370px;
      margin: 0px auto;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .info-company-home-contact .info-company-home-contact-right header i {
        width: 77px; }
      .info-company-home-contact .info-company-home-contact-right header h4 {
        width: calc(100% - 77px);
        font-size: 20px;
        font-weight: 500;
        color: #013F76; }
    .info-company-home-contact .info-company-home-contact-right .uk-slider-container {
      border: none;
      margin-top: 10px; }
    .info-company-home-contact .info-company-home-contact-right .uk-slider li > div {
      height: 76px;
      padding: 0px 7px;
      background-color: #FFFFFF;
      background-clip: content-box;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .info-company-home-contact .info-company-home-contact-right .uk-slidenav-previous {
      left: -50px; }
    .info-company-home-contact .info-company-home-contact-right .uk-slidenav-next {
      right: -50px; }

.info-company-home-logo .left,
.info-company-home-logo .right {
  margin-bottom: 25px; }

.info-company-home-logo .left img {
  margin: 0px 12px; }

.info-company-home-logo .right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .info-company-home-logo .right a img {
    margin-left: 5px; }
  .info-company-home-logo .right a:first-child img {
    margin-left: 0px; }

@media screen and (max-width: 979px) {
  body {
    padding-top: 86px; }
  .info-video {
    margin-top: 10px; }
  .info-video-item img {
    width: 100%;
    margin-bottom: 10px; }
  .info-company .uk-slider-container {
    margin-bottom: 10px; }
  .info-company-home-contact .uk-width-large-1-2:last-child {
    margin-top: 30px; } }

@media screen and (max-width: 767px) {
  .info-company .uk-slidenav-previous {
    left: calc(99% - 25px); }
  .info-company .uk-slidenav-next {
    right: 1%; }
  .info-company-home-text {
    padding-bottom: 10px;
    padding-right: 10px;
    min-height: 1px; }
  .info-company-home-img {
    padding-bottom: 40px;
    text-align: center; } }

@media screen and (max-width: 479px) {
  .info-company-home-contact .info-company-home-contact-left a.info-phone {
    width: 100%;
    margin-top: 20px; }
  .info-company-home-contact .info-company-home-contact-left ul {
    width: 100%; }
  .info-company-home-logo .right,
  .info-company-home-logo .left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/* ========== home end ========== */
/* ========== footer start ========== */
.info-footer {
  background-color: #1A74BA;
  padding: 35px 0px 0px 0px;
  color: #FFFFFF; }
  .info-footer a {
    color: #FFFFFF; }
    .info-footer a:hover {
      color: #000000; }
  .info-footer ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px; }
    .info-footer ul li {
      line-height: 1.8; }
  .info-footer span {
    font-size: 14px;
    font-weight: 700; }
  .info-footer address {
    margin-bottom: 0px;
    max-width: 240px; }

.info-footer-copyright {
  min-height: 60px;
  background-color: #FFFFFF;
  margin-top: 35px; }
  .info-footer-copyright small {
    color: #000000;
    font-size: 13px; }

@media screen and (max-width: 767px) {
  .info-footer address {
    max-width: 100%; } }

@media screen and (max-width: 479px) {
  .info-footer {
    text-align: center; }
    .info-footer .uk-width-small-1-3,
    .info-footer .uk-width-small-4-6 {
      margin-bottom: 20px; } }

/* ========== footer end ========== */
/* ========== breadcrumb start ========== */
.info-breadcrumb {
  background-color: #25A8DF; }
  .info-breadcrumb ul {
    margin: 0px; }
    .info-breadcrumb ul li a, .info-breadcrumb ul li span {
      font-size: 13px;
      color: #FFFFFF; }
    .info-breadcrumb ul li:nth-child(n + 2)::before {
      content: ">";
      color: #FFFFFF; }
  .info-breadcrumb .info-breadcrumb-flex {
    min-height: 50px; }
  .info-breadcrumb .info-breadcrumb-title {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF; }

@media screen and (max-width: 979px) {
  .info-page-banner {
    background-size: cover;
    background-position: center; }
    .info-page-banner img {
      opacity: 0;
      height: 250px; } }

/* ========== breadcrumb end ========== */
/* ========== company start ========== */
.info-company {
  padding: 35px 0px; }
  .info-company h1 {
    font-weight: 700;
    color: #1A74BA;
    font-size: 20px; }
  .info-company p {
    font-size: 15px;
    line-height: 1.6; }

.info-company-text {
  padding-right: 100px; }

@media screen and (max-width: 1199px) {
  .info-company-text {
    padding-right: 0px; } }

@media screen and (max-width: 979px) {
  .info-company-text {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-top: 20px; } }

/* ========== company end ========== */
/* ========== products start ========== */
.info-products {
  padding: 40px 0px; }

.info-products-item {
  margin-bottom: 20px;
  min-height: 150px; }
  .info-products-item div {
    border: 1px solid #013F76;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .info-products-item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 30px;
    width: 100%;
    height: 100%;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .info-products-item h3 {
    color: #013F76;
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    font-weight: 700;
    width: 100%; }
  .info-products-item * {
    -webkit-transition: all 50ms ease-in;
    -o-transition: all 50ms ease-in;
    transition: all 50ms ease-in; }
  .info-products-item img {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%); }
    .info-products-item img.hover {
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 0; }
  .info-products-item:hover div {
    background-color: #013F76; }
  .info-products-item:hover h3 {
    color: #FFFFFF; }
  .info-products-item:hover img {
    opacity: 0; }
    .info-products-item:hover img.hover {
      opacity: 1; }

/* ========== products end ========== */
/* ========== products-detail start ========== */
.info-products-detail {
  padding: 40px 0px; }
  .info-products-detail .info-products-item div {
    background-color: #013F76; }
  .info-products-detail .info-products-item h3 {
    color: #FFFFFF; }

.info-products-detail-item {
  margin-bottom: 20px;
  background-color: #DDDDDD;
  padding: 15px; }
  .info-products-detail-item h4 {
    font-size: 20px;
    color: #333333;
    margin: 0px; }
  .info-products-detail-item p {
    font-size: 15px; }
  .info-products-detail-item a:not(.previous, .next) {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid #BBBBBB;
    background-color: #FFFFFF; }

/* ========== products-detail end ========== */
/* ========== references start ========== */
.info-references-nav {
  background-color: #013F76;
  min-height: 40px; }
  .info-references-nav .uk-tab {
    border: none; }
    .info-references-nav .uk-tab > li {
      margin-bottom: 0px; }
      .info-references-nav .uk-tab > li > a {
        color: white;
        font-size: 15px;
        font-weight: 700;
        border: none;
        padding: 0px 35px 0px 0px;
        height: 40px;
        line-height: 40px; }
      .info-references-nav .uk-tab > li.uk-active > a {
        background: none;
        color: #25A8DF; }
  .info-references-nav .uk-tab > li:not(.uk-active) > a:hover,
  .info-references-nav .uk-tab > li:not(.uk-active) > a:focus,
  .info-references-nav .uk-tab > li.uk-open:not(.uk-active) > a {
    margin-bottom: 0px;
    padding-bottom: 0px; }
  .info-references-nav .uk-tab > li > a:hover,
  .info-references-nav .uk-tab > li > a:focus,
  .info-references-nav .uk-tab > li.uk-open > a {
    background: none; }

.info-references-content {
  padding: 20px 0px; }

.info-references-item {
  margin-bottom: 10px; }
  .info-references-item > div {
    min-height: 125px;
    border: 1px solid #CDCDCD;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.info-references-grid {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CDCDCD; }
  .info-references-grid:last-child {
    border-bottom: 0px; }

.info-references-item-detail .info-references-img {
  min-height: 90px;
  border: 1px solid #CDCDCD;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 6px; }

.info-references-item-detail ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 6px; }
  .info-references-item-detail ul li {
    margin-right: 6px; }
    .info-references-item-detail ul li:last-child {
      margin-right: 0px; }

.info-references-item-detail h2 {
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 1; }

.info-references-item-detail p {
  font-size: 13px;
  line-height: 1.8;
  margin-top: 0px;
  padding-right: 20px;
  margin-bottom: 7px; }

@media screen and (max-width: 979px) {
  .info-references-item-detail:first-child {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CDCDCD; } }

@media screen and (max-width: 479px) {
  .info-references-item-detail h2 {
    margin-top: 20px; } }

/* ========== references end ========== */
/* ========== seminar start ========== */
.info-seminar {
  padding: 20px 0px; }
  .info-seminar p {
    font-size: 14px;
    margin: 0px 0px 20px 0px !important; }
  .info-seminar .uk-accordion-title {
    margin-bottom: 10px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #013F76; }
    .info-seminar .uk-accordion-title .uk-icon-chevron-up {
      display: none; }
    .info-seminar .uk-accordion-title.uk-active {
      background-color: #25A8DF; }
      .info-seminar .uk-accordion-title.uk-active .uk-icon-chevron-down {
        display: none; }
      .info-seminar .uk-accordion-title.uk-active .uk-icon-chevron-up {
        display: block; }
  .info-seminar .uk-accordion-content {
    padding: 5px 0px 20px 0px; }

/* ========== seminar end ========== */
/* ========== news start ========== */
.info-news {
  padding: 20px 0px; }

.info-news-grid {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CDCDCD; }
  .info-news-grid:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: none; }

.info-news-text {
  padding-right: 90px; }
  .info-news-text h2 {
    font-size: 15px;
    margin: 0px; }
  .info-news-text p {
    font-size: 13px;
    margin: 0px; }

@media screen and (max-width: 979px) {
  .info-news-text {
    margin-bottom: 20px; } }

@media screen and (max-width: 767px) {
  .info-news .uk-width-medium-1-4 {
    margin-bottom: 10px; } }

/* ========== news end ========== */
/* ========== services start ========== */
.info-services {
  padding: 20px 0px; }
  .info-services h2 {
    font-size: 20px;
    color: #1A74BA;
    margin: 0px; }
  .info-services p {
    font-size: 15px;
    margin: 0px;
    line-height: 1.8; }

.info-services-grid {
  margin-bottom: 20px; }
  .info-services-grid:last-child {
    margin-bottom: 0px; }

.info-services-gallery {
  margin-top: 60px; }
  .info-services-gallery img {
    max-height: 105px; }
  .info-services-gallery .uk-slider li a {
    border: 1px solid #CCCCCC; }

@media screen and (max-width: 1199px) {
  .info-services-gallery {
    margin-top: 20px; }
    .info-services-gallery img {
      max-height: 89px; } }

@media screen and (max-width: 979px) {
  .info-services-gallery img {
    max-height: 150px; } }

@media screen and (max-width: 767px) {
  .info-services-text {
    margin-top: 20px; }
  .info-services-grid {
    padding-bottom: 30px;
    border-bottom: 1px solid #CDCDCD;
    margin-bottom: 30px; }
  .info-services-gallery img {
    max-height: 260px; } }

/* ========== services end ========== */
/* ========== documents start ========== */
.info-documents {
  padding: 20px 0px; }

.info-doc-item {
  margin-bottom: 40px; }
  .info-doc-item a:hover .info-doc-img {
    background-color: #CDCDCD; }
  .info-doc-item .info-doc-img {
    width: 100%;
    min-height: 95px;
    border: 1px solid #CDCDCD; }
  .info-doc-item p {
    font-size: 15px;
    margin-left: 0px; }

/* ========== documents end ========== */
/* ========== ozon-systems start ========== */
.info-products-ozon {
  padding: 20px 0px; }

.info-products-ozon-section {
  background-color: #DDDDDD;
  height: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .info-products-ozon-section h3 {
    color: #013F76;
    line-height: 1; }
  .info-products-ozon-section p,
  .info-products-ozon-section li,
  .info-products-ozon-section table {
    font-size: 13px; }
  .info-products-ozon-section p {
    margin: 0px; }
  .info-products-ozon-section table {
    table-layout: fixed;
    margin: 0px; }
  .info-products-ozon-section td {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px; }
  .info-products-ozon-section tr td:first-child {
    width: 150px; }
    .info-products-ozon-section tr td:first-child::after {
      content: ':';
      float: right; }
  .info-products-ozon-section tr td:last-child {
    padding-left: 30px; }
  .info-products-ozon-section ul {
    padding-left: 20px;
    margin: 0px; }

.info-products-ozon-header {
  margin-bottom: 10px; }
  .info-products-ozon-header h2 {
    font-size: 17px;
    font-weight: 500;
    color: #013F76;
    margin-bottom: 0px; }
  .info-products-ozon-header a {
    background-color: #E10512;
    color: #FFFFFF;
    padding: 10px 30px;
    font-size: 17px;
    font-weight: 500; }

.info-products-ozon-text p {
  font-size: 14px; }
  .info-products-ozon-text p:last-child {
    margin-bottom: 50px; }

@media screen and (max-width: 1199px) {
  .info-products-ozon .uk-width-xlarge-1-3 {
    margin-top: 25px; } }

@media screen and (max-width: 767px) {
  .info-ozon-img {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    text-align: center;
    margin-bottom: 25px; }
  .info-products-ozon-text p:last-child {
    margin-bottom: 0px; } }

/* ========== ozon-systems end ========== */
/* ========== contact start ========== */
.info-contact {
  padding: 20px 0px; }
  .info-contact h3 {
    font-size: 20px; }
  .info-contact ul {
    padding-left: 0px;
    list-style: none;
    font-size: 15px;
    margin-bottom: 30px; }
    .info-contact ul li {
      margin-bottom: 15px; }
    .info-contact ul span {
      display: inline-block;
      width: 80px;
      margin-right: 20px; }
      .info-contact ul span::after {
        content: ':';
        float: right; }
    .info-contact ul a {
      color: #333333; }
      .info-contact ul a:hover {
        color: #25A8DF; }

#info-map-1,
#info-map-2 {
  height: 320px; }

@media screen and (max-width: 979px) {
  #info-map-1,
  #info-map-2 {
    margin-bottom: 40px; }
  .info-contact ul li {
    text-align: right; }
  .info-contact ul span {
    text-align: left;
    float: left; } }

/* ========== contact end ========== */
/* ========== human-resources start ========== */
.info-human-resources {
  padding: 20px 0px; }
  .info-human-resources p {
    font-size: 13px;
    margin: 0px; }
    .info-human-resources p span {
      color: #013F76;
      font-weight: 700; }
    .info-human-resources p a {
      color: #013F76; }
    .info-human-resources p:last-child {
      margin-top: 25px; }

.info-human-form h2 {
  margin-top: 40px;
  font-size: 20px;
  color: #013F76; }

.info-human-form input,
.info-human-form textarea,
.info-human-form button:not(.file-upload-button) {
  width: 100%; }

.info-human-form .uk-form select,
.info-human-form .uk-form textarea,
.info-human-form .uk-form input:not([type]),
.info-human-form .uk-form input[type="text"],
.info-human-form .uk-form input[type="password"],
.info-human-form .uk-form input[type="datetime"],
.info-human-form .uk-form input[type="datetime-local"],
.info-human-form .uk-form input[type="date"],
.info-human-form .uk-form input[type="month"],
.info-human-form .uk-form input[type="time"],
.info-human-form .uk-form input[type="week"],
.info-human-form .uk-form input[type="number"],
.info-human-form .uk-form input[type="email"],
.info-human-form .uk-form input[type="url"],
.info-human-form .uk-form input[type="search"],
.info-human-form .uk-form input[type="tel"],
.info-human-form .uk-form input[type="color"] {
  height: 37px;
  background-color: #DDDDDD;
  padding-left: 12px;
  padding-right: 12px; }

.info-human-form .uk-form textarea {
  height: 141px;
  padding-top: 8px;
  resize: none;
  margin-bottom: 15px; }
  .info-human-form .uk-form textarea + button {
    height: 37px;
    background-color: #013F76;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #FFFFFF; }

.info-human-form .file-upload-button {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 37px;
  background-color: #333333;
  width: 169px;
  border-radius: 0px;
  border: none;
  font-size: 13px;
  color: #FFFFFF;
  cursor: pointer; }

.info-human-form input,
.info-human-form textarea,
.info-human-form select,
.info-human-form button {
  font-family: "Geogrotesque", sans-serif; }

/* ========== human-resources end ========== */
