
@{
    ViewData["Title"] = "bakteriUygulamalari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections agriculture-bg">

    <div class="container">

        <div class="pages-title">

            <h1 class="lang" key="ProductsMain">Ürünler  </h1>

            <p class="lang pp1" key="bacteriaApp">Bakteri Uygulamaları </p>

            <p><a class="lang" key="mainPage" asp-controller="Home" asp-action="Index">Anasayfa</a> &nbsp; > &nbsp; <a class="lang" key="ProductsMain" asp-controller="Home" asp-action="urunler">Ürünler</a> &nbsp; > &nbsp; <a class="lang" key="bacteriaApp" href="#">Bakteri Uygulamaları</a></p>

        </div>

    </div>

</div>



<!-- CONTENT start -->

<section>

    <div class="container">

        <div class="row">

            <!-- SIDEBAR START -->

            <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">

                <div class="sidebar-list">

                    <div class="list-group">

                        <a href="buharUretimSistemKilimalari" key="BUSK" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Buhar Üretim Sistem Kimyasalları

                        </a>

                        <a href="sogutmaKulesiSistemleri" key="cts" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Soğutma Kulesi Sistemleri

                        </a>

                        <a href="kapaliDevreSistemleri" key="ccs" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Kapalı Devre Sistemleri

                        </a>

                        <a href="dezenfeksiyonUrunleri" key="DF" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Dezenfeksiyon Ürünleri

                        </a>

                        <a href="kullanimSuyuHatlari" key="dwl" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Kullanım Suyu Hatları

                        </a>

                        <a href="hvac" key="hvac" class="list-group-item d-flex justify-content-between align-items-center lang">

                            HVAC ve Endüstriyel Temizlik Ürünleri

                        </a>

                        <a href="tesrOsmoz" key="RO" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Ters Osmoz (R.O.)

                        </a>

                        <a href="bakteriUygulamalari" key="bacteriaApp" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Bakteri Uygulamaları

                        </a>

                    </div>

                </div>

            </div>

            <!-- SIDEBAR END -->
            <!-- PROJECT CONTENT START -->

            <div class="order-first order-md-9 col-lg-8 col-xl-9">

                <!--<figure class="solution-pic"><img src="img/images/agriculture-picture.jpg" alt=""></figure>-->

                <div class="solution-content  ab-details">

                    <h2 class="lang" key="bacteriaApp">Bakteri Uygulamaları</h2>



                    <div class="xxx" style="display:flex;">

                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp12">  Hizmetler- Bakteri Uygulamaları Yağ giderleri, yağ tutucular, mutfaklar, tuvaletler, musluklar, fosseptikler ve rögarlara uygulanan özel formüllü kimyasallarımız ile;</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacter"><i class="fas fa-edit"></i> Mutfak yer giderlerinden gelen kokular ve tıkanma sorunları kesilir.</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp2"><i class="fas fa-edit"></i>Yağ tutucularda biriken yağlar dönüştürülerek yağ toplama periyodu uzatılır.</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp3"><i class="fas fa-edit"></i>Tüm tesisatta H2S korozyonunu önlenir.</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp4"><i class="fas fa-edit"></i>Mobil tuvaletlerdeki birikintiler parçalanır. Koku sorunları kesilir.</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp5"><i class="fas fa-edit"></i>Mutfak egzozlarından yayılan kokular kesilir.</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp6"><i class="fas fa-edit"></i>Fosseptiklerin geçirgenliği arttırılır. Koku sorunları kesilir.</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp7"><i class="fas fa-edit"></i>Manuel temizlik için ulaşılamayan noktalarda bakterilerin kalıcı etkisiyle uzun süreli temizlik sağlanır.</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp8"><i class="fas fa-edit"></i>Duş giderlerindeki tıkanmalar önlenir.</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp9"><i class="fas fa-edit"></i>Ürünlerin formülünde yer alan koku nötralize edicilerle rahatsız edici kokular ani olarak kesilir. Ardından mikroorganizmalar çalışmaya başlayıp koku kaynağını yok eder.</p>
                    </div>
                    <div class="xxx" style="display:flex;">
                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="bacteriaApp11"><i class="fas fa-edit"></i>Uygulanması ekonomiktir, kendi alanında iş güvenliği açısından en az risk taşıyan yöntemdir.</p>
                    </div>


                </div>



                <!--<div class="container">

            <div class="grid" id="kehl-grid">

                <div class="grid-sizer"></div>

                <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service1.jpg">

                        <div class="image-mask"></div>

                        <img src="img/images/service1.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box chemical">

                    <a class="image-popup-vertical-fit" href="img/images/service2.jpg">

                        <div class="image-mask"></div>

                        <img src="img/images/service2.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box energy">

                    <a class="image-popup-vertical-fit" href="img/images/service3.jpg">

                        <div class="image-mask"></div>

                        <img src="img/images/service3.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service4.jpg">

                        <div class="image-mask"></div>

                        <img src="img/images/service4.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service5.jpg">

                        <div class="image-mask"></div>

                        <img src="img/images/service5.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box chemical">

                    <a class="image-popup-vertical-fit" href="img/images/service6.jpg">

                        <div class="image-mask"></div>

                        <img src="img/images/service6.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service7.jpg">

                        <div class="image-mask"></div>

                        <img src="img/images/service7.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service8.jpg">

                        <div class="image-mask"></div>

                        <img src="img/images/service8.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service9.jpg">

                        <div class="image-mask"></div>

                        <img src="img/images/service9.jpg" alt="" />

                    </a>

               </div>

            </div>

        </div>-->

            </div>

            <!-- PROJECT CONTENT END -->

        </div>

    </div>

</section>

<!-- CONTENT START -->
