
@{
    ViewData["Title"] = "bakteriUygulamalari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections agriculture-bg">

    <div class="container">

        <div class="pages-title">

            <h1>Ürünler <br> <span>Bakteri Uygulamaları</span></h1>

            <p><a href="index.html">Anasayfa</a> &nbsp; > &nbsp; <a href="urunler.html">Ürünler</a> &nbsp; > &nbsp; <a href="#">Bakteri Uygulamaları</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="row">

            <!-- SIDEBAR START -->

            <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">

                <div class="sidebar-list">

                    <div class="list-group">

                        <a href="buhar-uretim-sistem-kimyasallari.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Buhar Üretim Sistem Kimyasalları

                        </a>

                        <a href="sogutma-kulesi-sistemleri.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Soğutma Kulesi Sistemleri

                        </a>

                        <a href="kapali-devre-sistemleri.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Kapalı Devre Sistemleri

                        </a>

                        <a href="dezenfeksiyon-urunleri.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Dezenfeksiyon Ürünleri

                        </a>

                        <a href="kullanim-suyu-hatlari.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Kullanım Suyu Hatları

                        </a>

                        <a href="hvac.html" class="list-group-item d-flex justify-content-between align-items-center">

                            HVAC ve Endüstriyel Temizlik Ürünleri

                        </a>

                        <a href="ters-osmoz.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Ters Osmoz (R.O.)

                        </a>

                        <a href="bakteri-uygulamalari.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Bakteri Uygulamaları

                        </a>

                    </div>

                </div>

            </div>

            <!-- SIDEBAR END -->
            <!-- PROJECT CONTENT START -->

            <div class="order-first order-md-9 col-lg-8 col-xl-9">

                <!--<figure class="solution-pic"><img src="img/images/agriculture-picture.jpg" alt=""></figure>-->

                <div class="solution-content  ab-details">

                    <h2>Bakteri Uygulamaları</h2>



                    <div class="bullets">

                        <p>Hizmetler- Bakteri Uygulamaları Yağ giderleri, yağ tutucular, mutfaklar, tuvaletler, musluklar, fosseptikler ve rögarlara uygulanan özel formüllü kimyasallarımız ile;</p>



                        <p>Mutfak yer giderlerinden gelen kokular ve tıkanma sorunları kesilir.</p>

                        <p>Yağ tutucularda biriken yağlar dönüştürülerek yağ toplama periyodu uzatılır.</p>

                        <p>Tüm tesisatta H2S korozyonunu önlenir.</p>

                        <p>Mobil tuvaletlerdeki birikintiler parçalanır. Koku sorunları kesilir.</p>

                        <p>Mutfak egzozlarından yayılan kokular kesilir.</p>

                        <p>Fosseptiklerin geçirgenliği arttırılır. Koku sorunları kesilir.</p>

                        <p>Manuel temizlik için ulaşılamayan noktalarda bakterilerin kalıcı etkisiyle uzun süreli temizlik sağlanır.</p>

                        <p>Duş giderlerindeki tıkanmalar önlenir.</p>

                        <p>Ürünlerin formülünde yer alan koku nötralize edicilerle rahatsız edici kokular ani olarak kesilir. Ardından mikroorganizmalar çalışmaya başlayıp koku kaynağını yok eder.</p>

                        <p>Uygulanması ekonomiktir, kendi alanında iş güvenliği açısından en az risk taşıyan yöntemdir.</p>

                    </div>

                </div>



                <!--<div class="container">

                    <div class="grid" id="kehl-grid">

                        <div class="grid-sizer"></div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service1.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service1.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box chemical">

                            <a class="image-popup-vertical-fit" href="img/images/service2.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service2.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box energy">

                            <a class="image-popup-vertical-fit" href="img/images/service3.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service3.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service4.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service4.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service5.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service5.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box chemical">

                            <a class="image-popup-vertical-fit" href="img/images/service6.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service6.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service7.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service7.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service8.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service8.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service9.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service9.jpg" alt="" />

                            </a>

                       </div>

                    </div>

                </div>-->

            </div>

            <!-- PROJECT CONTENT END -->

        </div>

    </div>

</section>

<!-- CONTENT START -->
