
@{
    ViewData["Title"] = "dezenfeksiyonUrunleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections agriculture-bg">

    <div class="container">

        <div class="pages-title">

            <h1 class="lang" key="ProductsMain">Ürünler  </h1>

            <p class="lang pp1" key="DF">Dezenfeksiyon Ürünleri </p>

            <p><a class="lang" key="mainPage" asp-controller="Home" asp-action="Index">Anasayfa</a> &nbsp; > &nbsp; <a class="lang" key="ProductsMain" asp-controller="Home" asp-action="urunler">Ürünler</a> &nbsp; > &nbsp; <a class="lang" key="DF" href="#">Dezenfeksiyon Ürünleri</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="row">

            <!-- SIDEBAR START -->

            <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">

                <div class="sidebar-list">

                    <div class="list-group">

                        <a href="buharUretimSistemKilimalari" key="steamNav" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Buhar Üretim Sistem Kimyasalları

                        </a>

                        <a href="sogutmaKulesiSistemleri" key="collingNav" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Soğutma Kulesi Sistemleri

                        </a>

                        <a href="kapaliDevreSistemleri" key="closedNav" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Kapalı Devre Sistemleri

                        </a>

                        <a href="dezenfeksiyonUrunleri" key="desinfectionNav" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Dezenfeksiyon Ürünleri

                        </a>

                        <a href="kullanimSuyuHatlari" key="domesticNav" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Kullanım Suyu Hatları

                        </a>

                        <a href="hvac" key="HVACnav" class="list-group-item d-flex justify-content-between align-items-center lang">

                            HVAC ve Endüstriyel Temizlik Ürünleri

                        </a>

                        <a href="tesrOsmoz" key="reverseNav" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Ters Osmoz (R.O.)

                        </a>

                        <a href="bakteriUygulamalari" key="bacteriaNav" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Bakteri Uygulamaları

                        </a>

                    </div>

                </div>

            </div>

            <!-- SIDEBAR END -->
            <!-- PROJECT CONTENT START -->

            <div class="order-first order-md-9 col-lg-8 col-xl-9">

                <!--<figure class="solution-pic"><img src="~/img/images/agriculture-picture.jpg" alt=""></figure>-->

                <div class="solution-content ab-details">

                    <h2 class="lang" key="DF">Dezenfeksiyon Ürünleri</h2>

                    <div class="xxx" style="display:flex;">

                        <p><i class="fas fa-edit"></i></p>

                        <p class="lang" key="DF1">Soğutma Kulesi Kapalı Devre ve Kullanım Sularında Bakteri Önleyici Ürünler</p>

                    </div>

                </div>



                <!--<div class="container">

            <div class="grid" id="kehl-grid">

                <div class="grid-sizer"></div>

                <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service1.jpg">

                        <div class="image-mask"></div>

                        <img src="~/img/images/service1.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box chemical">

                    <a class="image-popup-vertical-fit" href="img/images/service2.jpg">

                        <div class="image-mask"></div>

                        <img src="~/img/images/service2.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box energy">

                    <a class="image-popup-vertical-fit" href="img/images/service3.jpg">

                        <div class="image-mask"></div>

                        <img src="~/img/images/service3.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service4.jpg">

                        <div class="image-mask"></div>

                        <img src="~/img/images/service4.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service5.jpg">

                        <div class="image-mask"></div>

                        <img src="~/img/images/service5.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box chemical">

                    <a class="image-popup-vertical-fit" href="img/images/service6.jpg">

                        <div class="image-mask"></div>

                        <img src="~/img/images/service6.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service7.jpg">

                        <div class="image-mask"></div>

                        <img src="~/img/images/service7.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service8.jpg">

                        <div class="image-mask"></div>

                        <img src="~/img/images/service8.jpg" alt="" />

                    </a>

               </div>

               <div class="grid-box">

                    <a class="image-popup-vertical-fit" href="img/images/service9.jpg">

                        <div class="image-mask"></div>

                        <img src="~/img/images/service9.jpg" alt="" />

                    </a>

               </div>

            </div>

        </div>-->

            </div>

            <!-- PROJECT CONTENT END -->

        </div>

    </div>

</section>

<!-- CONTENT START -->
