
@{
    ViewData["Title"] = "haberDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1 class="lang" key="news">Haberler </h1>

            <p class="lang pp1" key="newsIteamTitle">4.Satış ve Değerlendirme Toplantısı</p>

            <p><a asp-controller="Home" asp-action="Index" class="lang" key="mainPage">Anasayfa</a> &nbsp; > &nbsp;<a asp-controller="Home" asp-action="haberler"class="lang" key="news">Haberler</a> &nbsp; > &nbsp; <a href="#"class="lang" key="newsIteamTitle">4.Satış ve Değerlendirme Toplantısı</a></p>

        </div>

    </div>

</div>







<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="row">

            <!-- SINGLE POST CONTENT START -->

            <div class="col-lg-12 col-xl-12">

                <div class="post-content">

                    <h2 class="lang" key="newsIteamTitle">4.Satış ve Değerlendirme Toplantısı</h2>

                    <p  class="lang" key="newsIteamDescription">04-07 Ocak 2020 tarihinde İstanbul Kozyatağı Hilton Oteli'nde gerçekleştirildi.</p>

                </div>



                <div class="container">

                    <div class="grid" id="kehl-grid">

                        <div class="grid-sizer"></div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/haber/4-motivasyon/1.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/haber/4-motivasyon/1.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box chemical">

                            <a class="image-popup-vertical-fit" href="~/img/images/haber/4-motivasyon/2.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/haber/4-motivasyon/2.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box energy">

                            <a class="image-popup-vertical-fit" href="~/img/images/haber/4-motivasyon/3.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/haber/4-motivasyon/3.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/haber/4-motivasyon/4.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/haber/4-motivasyon/4.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/haber/4-motivasyon/5.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/haber/4-motivasyon/5.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box chemical">

                            <a class="image-popup-vertical-fit" href="~/img/images/haber/4-motivasyon/6.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/haber/4-motivasyon/6.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/haber/4-motivasyon/7.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/haber/4-motivasyon/7.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/haber/4-motivasyon/8.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/haber/4-motivasyon/8.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/haber/4-motivasyon/9.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/haber/4-motivasyon/9.jpg" alt="" />

                            </a>

                        </div>

                    </div>

                </div>





            </div>

            <!-- SINGLE POST CONTENT END -->

        </div>

    </div>



</section>

<!-- CONTENT START -->
