
@{
    ViewData["Title"] = "haberler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1><span class="lang" key="news">Haberler</span></h1>

            <p><a asp-controller="Home" asp-action="Index" class="lang" key="mainPage">Anasayfa</a> &nbsp; > &nbsp; <a href="#" class="lang" key="news">Haberler</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <div class="container">

        <!-- BLOG GRID START -->

        <div class="row">

            <div class="col-md-6 col-lg-4">

                <div class="post-preview">
                    <a href="haber-detay.html">

                        <figure class="post-preview-img"><img src="~/img/images/post-preview1.jpg" alt=""></figure>

                        <div class="pp-caption">

                            <h3><a href="haber-detay.html" class="lang" key="newsIteamTitle">4. Satış ve Değerlendirme Toplantısı</a></h3>

                            <p class="lang" key="newsIteamDescription">04-07 Ocak 2020 tarihinde Hilton Oteli'nde gerçekleştirildi.</p>

                            <h4 class="link"><a asp-controller="Home" asp-action="haberDetay" class="lang" key="newsRead">Haberi Oku</a></h4>

                        </div>

                    </a>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="post-preview">
                    <a href="haber-detay.html">

                        <figure class="post-preview-img"><img src="~/img/images/post-preview1.jpg" alt=""></figure>

                        <div class="pp-caption">

                            <h3><a href="haber-detay.html" class="lang" key="newsIteamTitle">4. Satış ve Değerlendirme Toplantısı</a></h3>

                            <p class="lang" key="newsIteamDescription">04-07 Ocak 2020 tarihinde Hilton Oteli'nde gerçekleştirildi.</p>

                            <h4 class="link"><a asp-controller="Home" asp-action="haberDetay" class="lang" key="newsRead">Haberi Oku</a></h4>

                        </div>

                    </a>
                </div>

            </div>
            <div class="col-md-6 col-lg-4">

                <div class="post-preview">
                    <a href="haber-detay.html">

                        <figure class="post-preview-img"><img src="~/img/images/post-preview1.jpg" alt=""></figure>

                        <div class="pp-caption">

                            <h3><a href="haber-detay.html" class="lang" key="newsIteamTitle">4. Satış ve Değerlendirme Toplantısı</a></h3>

                            <p class="lang" key="newsIteamDescription">04-07 Ocak 2020 tarihinde Hilton Oteli'nde gerçekleştirildi.</p>

                            <h4 class="link"><a asp-controller="Home" asp-action="haberDetay" class="lang" key="newsRead">Haberi Oku</a></h4>

                        </div>

                    </a>
                </div>

            </div>
        </div>

        <!--<div class="site-pagination">

            <nav aria-label="Page navigation example">

              <ul class="pagination">

                <li class="page-item">



                </li>

                <li class="page-item active"><a class="page-link" href="#">1</a></li>

                <li class="page-item"><a class="page-link" href="#">2</a></li>

                <li class="page-item"><a class="page-link" href="#">3</a></li>

                <li class="page-item">

                  <a class="page-link" href="#" aria-label="Next">

                    <i class="fas fa-arrow-right"></i>

                  </a>

                </li>

              </ul>

            </nav>

        </div>-->

    </div>

    <!-- BLOG GRID END -->

</section>

<!-- CONTENT START -->
