
@{
    ViewData["Title"] = "hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1><span>Kurumsal</span></h1>

            <p><a href="index.html">Anasayfa</a> &nbsp; > &nbsp; <a href="#">Kurumsal</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <!-- COMPANY ABOUT START -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <div class="about-info">

                    <h2>Azinfo Hakkında</h2>



                    <p>Ülkemizin önemli ve prestijli kuruluşlarını portföyünde bulunduran AZINFO, Türkiye’de su şartlandırma danışmanlığı konusundaki otoritesini hizmet kalitesi ile rakipsizleştirmektedir.



                    <p>AZINFO, iş merkezlerinin, alışveriş merkezlerinin, fabrikaların, hastanelerin, üniversitelerin, otellerin içme-kullanım sularında, ısıtma-soğutma sistemlerinde, buhar kazanlarında, soğutma kulelerinde kullanılan kimyasalları ve kontrol ekipmanlarını sürekli ve kaliteli servis hizmeti ile takip ederek müşterilerimizin pahalı ekipman yatırımlarını koruyup, verimli ömrünün uzun olmasını sağlayarak ekonomiye katkı sağlamayı amaç edinmiştir.</p>



                    <p>Rakiplerin izlemek zorunda kaldıkları mükemmel standartları oluşturan AZINFO’ un pazardaki bu öncü çizgisinin ardında, müşterileri ile kurduğu güçlü iş birliği ve ortak hedefler vardır.</p>



                    <p>Yatırımların verimliliği açısından su şartlandırma danışmanlığı acil ve önemli çözüm olmasının yanı sıra, çevreci yöntemlerin, titiz araştırmacılığın ve ihtiyaca özel çözümlerin önem kazandığı bu özel konuda AZINFO gerçek bir çözüm ortağıdır.</p>



                </div>

            </div>

            <div class="col-lg-6 space-break">

                <figure class="about-img"><img src="~/img/images/azingo-group-logolar.jpg" alt=""></figure>

                <!--<figure class="about-img"><img src="~/img/images/about-pic.jpg" alt=""></figure>-->

            </div>

        </div>

        <!--<hr class="section-divider">-->
        <!--<div class="about-bar">

            <div class="row">

              <div class="col-lg-4">

                <div class="ab-box">

                    <figure class="ab-icon"><img src="~/img/master/engineer.svg" alt=""></figure>

                    <div class="ab-caption">

                        <h4>Şu Şartlandırma Danışmanı</h4>

                        <p>Konusunda uzman su şartlandırma danışmanlarımızla her zaman yanınızdayız.</p>

                    </div>

                </div>

              </div>

              <div class="col-lg-4 center-box">

                <div class="ab-box">

                    <figure class="ab-icon"><img src="~/img/master/shield.svg" alt=""></figure>

                    <div class="ab-caption">

                        <h4>Geri Kazanım</h4>

                        <p>Geri kazanım projelerimizle yatırımlarınızdan maksimum verim almanızı sağlıyoruz.</p>

                    </div>

                </div>

              </div>

              <div class="col-lg-4">

                <div class="ab-box">

                    <figure class="ab-icon"><img src="~/img/master/innovation.svg" alt=""></figure>

                    <div class="ab-caption">

                        <h4>Özel Donanım Laboratuvar</h4>

                        <p>Düzenli analizlerle kireç, korozyon ve mikrobiuyolojik aktivasyon risklerine önlem alıyoruz.</p>

                    </div>

                </div>

              </div>

            </div>

        </div>-->
        <!--        <hr class="section-divider">-->

    </div>

    <!-- COMPANY ABOUT END -->
    <!-- WHY US START -->
    <!--<div class="container">

        <div class="row">

          <div class="col-lg-12">

            <div>



              <p style="text-align: center;"><img src="~/img/images/azingo-group-logolar.jpg">  </p>



            </div>

          </div>

        </div>

    </div>-->
    <!-- WHY US END -->



</section>

<!-- CONTENT END -->
