
@{
    ViewData["Title"] = "hizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1><span class="lang" key="services">Hizmetler</span></h1>

            <p><a href="index.html" class="lang" key="mainPage">Anasayfa</a> &nbsp; > &nbsp; <a href="#" class="lang" key="services">Hizmetler</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="section-tittle-alt">

            <h2 class="lang" key="services">Hizmetler</h2>

        </div>

        <p class="gallery-info service-alt lang" key="servicesDescription">Azinfo, iş-alışveriş merkezleri, oteller, tatil köyleri, hastaneler, üniversiteler, endüstriyel işletmeler ve fabrikaların su şartlandırma ihtiyaçlarını sürekli ve nitelikli servis hizmeti ile sağlamaktadır.</p>



        <!-- PROJECT GRID START -->

        <div class="row hover-effects image-hover">

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a asp-controller="Home" asp-action="suSartlandirmaHizmeti" ><img src="~/img/images/hizmetler/su-sartlandirma/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3 class="lang" key="servicesIteamTitle_1">Su Şartlandırma Hizmeti</h3>

                        <p class="lang" key="servicesIteamDescription_1">Firmaların sorunlarına göre ihtiyacı olan çözümler üretilir ve uygulamaya alınır. Bu çözümler ve cihazlarımızdan dozaj tanklarına kadar özenle kurmaktayız.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a asp-controller="Home" asp-action="laboratuvarHizmetleri" ><img src="~/img/images/hizmetler/laboratuvar/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3 class="lang" key="servicesIteamTitle_2">Laboratuvar Hizmetleri</h3>

                        <p class="lang" key="servicesIteamDescription_2">Saha analiz çantamız ile gittiğimiz her firmada laboratuvar ortamı oluşturup özenle analizler yapıyoruz.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a asp-controller="Home" asp-action="legionellaAnalizleri"><img src="~/img/images/hizmetler/legionella/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3 class="lang" key="servicesIteamTitle_3">Legionella Analizleri</h3>

                        <p class="lang" key="servicesIteamDescription_3">Legionella bakterisi doğadaki su kaynaklarından gelen bakterilerdir, binaların su sistemlerine yerleşir ve uygun ortam bulunca çoğalır.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a asp-controller="Home" asp-action="geriKazanim"><img src="~/img/images/hizmetler/geri-kazanim/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3 class="lang" key="servicesIteamTitle_4">Geri Kazanım</h3>

                        <p class="lang" key="servicesIteamDescription_4">Soğutma kulesinin blöf suyunun bile inanılmaz bir maliyeti olabilir. Özel sistemler kurularak atık suları geri kazandırıyoruz.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a asp-controller="Home" asp-action="sistemlerinUzaktanKontrolEdilmesi"><img src="~/img/images/hizmetler/sistemlerin-uzaktan/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3 class="lang" key="servicesIteamTitle_5">Özel Uygulamalar</h3>

                        <h5 class="lang" key="servicesIteamSlogan_1">Sistemlerin Uzaktan Kontrol Edilmesi</h5>

                        <p class="lang" key="servicesIteamDescription_5">Sisteminizin güncel değerlerini ister ofisinizden isterseniz evinizden görmenizi ve müdahale etmenizi sağlıyoruz. </p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a asp-controller="Home" asp-action="dataloggerIleVerilenToplanmasi"><img src="~/img/images/hizmetler/datalogger/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3 class="lang" key="servicesIteamTitle_5">Özel Uygulamalar</h3>

                        <h5 class="lang" key="servicesIteamSlogan_2">Datalogger İle Verilerin Toplanması</h5>

                        <p class="lang" key="servicesIteamDescription_6">Datalogger cihazlarımızla iletkenlik, pH gibi cihazlarınızın 4-20 mA çıkış verdiği dataları kaydedebilirsiniz.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid desktop-last-grid">

                    <figure class="pg-thumbnail"><a asp-controller="Home" asp-action="ozonlaBakteriGiderimSistemleri"><img src="~/img/images/hizmetler/ozonla-bakteri/4.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3 class="lang" key="servicesIteamTitle_5">Özel Uygulamalar</h3>

                        <h5 class="lang" key="servicesIteamSlogan_3">Ozonla Bakteri Giderim Sistemleri</h5>

                        <p></p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid desktop-last-grid">

                    <figure class="pg-thumbnail"><a asp-controller="Home" asp-action="notralizasyonSistemleri"><img src="~/img/images/hizmetler/notralizasyon/5.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3 class="lang" key="servicesIteamTitle_5">Özel Uygulamalar</h3>

                        <h5 class="lang" key="servicesIteamSlogan_4">Nötralizasyon Sistemi</h5>

                        <p></p>

                    </div>

                </div>

            </div>

        </div>

        <!-- PROJECT GRID END -->

    </div>

</section>

<!-- CONTENT START -->
