
@{
    ViewData["Title"] = "hizmetler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1><span>Hizmetler</span></h1>

            <p><a href="index.html">Anasayfa</a> &nbsp; > &nbsp; <a href="#">Hizmetler</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="section-tittle-alt">

            <h2>Hizmetler</h2>

        </div>

        <p class="gallery-info service-alt">Azinfo, iş-alışveriş merkezleri, oteller, tatil köyleri, hastaneler, üniversiteler, endüstriyel işletmeler ve fabrikaların su şartlandırma ihtiyaçlarını sürekli ve nitelikli servis hizmeti ile sağlamaktadır.</p>



        <!-- PROJECT GRID START -->

        <div class="row hover-effects image-hover">

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a href="su-sartlandirma-hizmeti.html"><img src="~/img/images/hizmetler/su-sartlandirma/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3>Su Şartlandırma Hizmeti</h3>

                        <p>Firmaların sorunlarına göre ihtiyacı olan çözümler üretilir ve uygulamaya alınır. Bu çözümler ve cihazlarımızdan dozaj tanklarına kadar özenle kurmaktayız.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a href="laboratuvar-hizmetleri.html"><img src="~/img/images/hizmetler/laboratuvar/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3>Laboratuvar Hizmetleri</h3>

                        <p>Saha analiz çantamız ile gittiğimiz her firmada laboratuvar ortamı oluşturup özenle analizler yapıyoruz.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a href="legionella-analizleri.html"><img src="~/img/images/hizmetler/legionella/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3>Legionella Analizleri</h3>

                        <p>Legionella bakterisi doğadaki su kaynaklarından gelen bakterilerdir, binaların su sistemlerine yerleşir ve uygun ortam bulunca çoğalır.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a href="geri-kazanim.html"><img src="~/img/images/hizmetler/geri-kazanim/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3>Geri Kazanım</h3>

                        <p>Soğutma kulesinin blöf suyunun bile inanılmaz bir maliyeti olabilir. Özel sistemler kurularak atık suları geri kazandırıyoruz.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a href="sistemlerin-uzaktan-kontrol-edilmesi.html"><img src="~/img/images/hizmetler/sistemlerin-uzaktan/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3>Özel Uygulamalar</h3>

                        <h5>Sistemlerin Uzaktan Kontrol Edilmesi</h5>

                        <p>Sisteminizin güncel değerlerini ister ofisinizden isterseniz evinizden görmenizi ve müdahale etmenizi sağlıyoruz. </p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid">

                    <figure class="pg-thumbnail"><a href="datalogger-ile-verilen-toplanmasi.html"><img src="~/img/images/hizmetler/datalogger/1.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3>Özel Uygulamalar</h3>

                        <h5>Datalogger İle Verilerin Toplanması</h5>

                        <p>Datalogger cihazlarımızla iletkenlik, pH gibi cihazlarınızın 4-20 mA çıkış verdiği dataları kaydedebilirsiniz.</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid desktop-last-grid">

                    <figure class="pg-thumbnail"><a href="ozonla-bakteri-giderim-sistemleri.html"><img src="~/img/images/hizmetler/ozonla-bakteri/4.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3>Özel Uygulamalar</h3>

                        <h5>Ozonla Bakteri Giderim Sistemleri</h5>

                        <p></p>

                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-4">

                <div class="project-grid desktop-last-grid">

                    <figure class="pg-thumbnail"><a href="notralizasyon-sistemleri.html"><img src="~/img/images/hizmetler/notralizasyon/5.jpg" alt=""></a></figure>

                    <div class="pg-caption">

                        <h3>Özel Uygulamalar</h3>

                        <h5>Nötralizasyon Sistemi</h5>

                        <p></p>

                    </div>

                </div>

            </div>

        </div>

        <!-- PROJECT GRID END -->

    </div>

</section>

<!-- CONTENT START -->
