
@{
    ViewData["Title"] = "hvac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections agriculture-bg">

    <div class="container">

        <div class="pages-title">

            <h1>Ürünler <br> <span>HVAC ve Endüstriyel Temizlik Ürünleri</span></h1>

            <p><a asp-controller="Home" asp-action="Index">Anasayfa</a> &nbsp; > &nbsp; <a href="urunler.html">Ürünler</a> &nbsp; > &nbsp; <a href="#">HVAC ve Endüstriyel Temizlik Ürünleri</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="row">

            <!-- SIDEBAR START -->

            <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">

                <div class="sidebar-list">

                    <div class="list-group">

                        <a href="buhar-uretim-sistem-kimyasallari.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Buhar Üretim Sistem Kimyasalları

                        </a>

                        <a href="sogutma-kulesi-sistemleri.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Soğutma Kulesi Sistemleri

                        </a>

                        <a href="kapali-devre-sistemleri.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Kapalı Devre Sistemleri

                        </a>

                        <a href="dezenfeksiyon-urunleri.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Dezenfeksiyon Ürünleri

                        </a>

                        <a href="kullanim-suyu-hatlari.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Kullanım Suyu Hatları

                        </a>

                        <a href="hvac.html" class="list-group-item d-flex justify-content-between align-items-center">

                            HVAC ve Endüstriyel Temizlik Ürünleri

                        </a>

                        <a href="ters-osmoz.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Ters Osmoz (R.O.)

                        </a>

                        <a href="bakteri-uygulamalari.html" class="list-group-item d-flex justify-content-between align-items-center">

                            Bakteri Uygulamaları

                        </a>

                    </div>

                </div>

            </div>

            <!-- SIDEBAR END -->
            <!-- PROJECT CONTENT START -->

            <div class="order-first order-md-9 col-lg-8 col-xl-9">

                <!--<figure class="solution-pic"><img src="img/images/agriculture-picture.jpg" alt=""></figure>-->

                <div class="solution-content ab-details">

                    <h2>HVAC ve Endüstriyel Temizlik Ürünleri</h2>

                    <div class="bullets">

                        <p>Asit İçermeyen Sentetik Torba Filtre Temizleyici</p>

                        <p>Asit İçermeyen Alüminyum Serpantin Temizleyici</p>

                        <p>Durulama Gerektirmeyen Alüminyum Serpantin Temizleyici</p>

                        <p>Atık Su ve Çöktürme Tesisleri İçin Polielektrolitler</p>

                        <p>İnhibitörlü Kireç Temizleyici</p>

                        <p>İnhibitörlü Kireç Temizleyici</p>

                        <p>Alüminyum Yüzeylerde Kireç Temizleyici</p>

                        <p>Kazan Devreye Alma-Pasivasyon Kimyasalı</p>

                        <p>Metal Yüzeylerde Alkali Temizleyici</p>

                        <p>Demir ve Bakır İnhibitörü</p>

                        <p>Demir Depozitleri Temizlik Kimyasalı</p>

                        <p>Nötr Özellikli Temizleyici</p>

                        <p>Krom Metaline Zarar Vermeyen Temizleyici</p>

                        <p>Kromlu Paslanmaz Metale Zarar Vermeyen Temizleyici</p>

                        <p>Köpük Önleyici</p>

                        <p>Silika Depozitleri Temizlik Kimyasalı </p>

                        <p>Yumuşatma Sistemleri İçin Reçine Temizlik Kimyasalı</p>

                        <p>Her Tür Paslanmaz Yüzey İçin Genel Depozit Temizleyicisi</p>

                        <p>Fuel Oil Katkı Maddesi</p>

                    </div>

                </div>



                <!--<div class="container">

                    <div class="grid" id="kehl-grid">

                        <div class="grid-sizer"></div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service1.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service1.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box chemical">

                            <a class="image-popup-vertical-fit" href="img/images/service2.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service2.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box energy">

                            <a class="image-popup-vertical-fit" href="img/images/service3.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service3.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service4.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service4.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service5.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service5.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box chemical">

                            <a class="image-popup-vertical-fit" href="img/images/service6.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service6.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service7.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service7.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service8.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service8.jpg" alt="" />

                            </a>

                       </div>

                       <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/service9.jpg">

                                <div class="image-mask"></div>

                                <img src="img/images/service9.jpg" alt="" />

                            </a>

                       </div>

                    </div>

                </div>-->

            </div>

            <!-- PROJECT CONTENT END -->

        </div>

    </div>

</section>

<!-- CONTENT START -->
