
@{
    ViewData["Title"] = "iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1><span>İletişim</span></h1>

            <p><a href="index.html">Anasayfa</a> &nbsp; > &nbsp; <a href="#">İletişim</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="row">

            <!-- CONTACT INFO START -->

            <div class="col-lg-6">

                <div class="contact-info">

                    <h2>Azinfo Türkiye</h2>

                    <div class="contact-list">

                        <p class="phone"> +90 216 661 46 77</p>

                        <p class="mail"> info@azinfo.com.tr</p>

                        <p class="address"> Altayçeşme, Çamlı Sok. No:16 DAP Royal Center A Blok K.13 D.57 34843 Maltepe/İstanbul</p>

                    </div>

                </div>

            </div>

            <!-- CONTACT INFO START -->

            <div class="col-lg-6 space-break">

                <!-- MAP START -->

                <div class="contact-maps">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.359067666931!2d29.13402170423044!3d40.9360302036568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac69ec104a31b%3A0xbb893e30c884cfdc!2sDap%20Royal%20Center!5e0!3m2!1str!2str!4v1610123992938!5m2!1str!2str" class="map-iframe"></iframe>

                </div>

                <!-- MAP START -->

            </div>

        </div>

    </div>

</section>



<section>

    <div class="container">

        <div class="row">

            <!-- CONTACT INFO START -->

            <div class="col-lg-6">

                <div class="contact-info">

                    <h2>Azinfo Bakü</h2>

                    <div class="contact-list">

                        <p class="phone"> (+994) 12 555 7051</p>

                        <p class="phone"> (+994) 50 278 79 33 </p>

                        <p class="mail"> info@azinfo.com.tr</p>

                        <p class="address"><p>Yasamal Rayonu Ş.Qurbanov Küçesi No: 21 Blok B Mertebe 5 Menzil 8 Baku/AZERBAIJAN</p></p>

                    </div>

                </div>

            </div>

            <!-- CONTACT INFO START -->

            <div class="col-lg-6 space-break">

                <!-- MAP START -->

                <div class="contact-maps">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d759.4331091109282!2d49.85839722921686!3d40.414777798710304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDI0JzUzLjIiTiA0OcKwNTEnMzIuMiJF!5e0!3m2!1str!2str!4v1610124045964!5m2!1str!2str" class="map-iframe"></iframe>

                </div>

                <!-- MAP START -->

            </div>

        </div>

    </div>

</section>

<!-- CONTENT START -->
