@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--SLIDER START-->

<div class="home-slider">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">



            <!-- Slide Three - Set the background image for this slide in the line below -->

            <div class="carousel-item active" style="background-image: url('/img/images/slider15.jpg')">

                <div class="container">

                    <div class="slider-caption" style="width: 57%;">

                        <h2 class="display-4 animated fadeInRight">
                            <span class="lang" key="sliderwords1">
                                Su şartlandırma programlarımızla <br>en
                                uygun koruma kimyasallarını kullanıyor, <br>su sistemlerinizin ömrünü
                                uzatıyoruz.
                            </span>
                        </h2>

                    </div>

                </div>

            </div>



            <!-- Slide One - Set the background image for this slide in the line below -->

            <div class="carousel-item" style="background-image: url('/img/images/slider13.jpg')">

                <div class="container">

                    <div class="slider-caption">

                        <h2 class="display-4 animated fadeInRight">
                            <span class="lang" key="sliderwords2">
                                Geri kazanım projelerimizle
                                <br>yatırımlarınızdan maksimum verim <br>almanızı sağlıyoruz
                            </span>
                        </h2>

                        <!--<div class="btn-more"><a class="btn btn-slider" href="#" role="button">Devamı</a></div>-->

                    </div>

                </div>

            </div>

            <!-- Slide Two - Set the background image for this slide in the line below -->

            <div class="carousel-item" style="background-image: url('/img/images/slider14.jpg')">

                <div class="container">

                    <div class="slider-caption">

                        <h2 class="display-4 animated fadeInRight">
                            <span class="lang" key="sliderwords3">
                                Konusunda uzman <br>su şartlandırma
                                danışmanlarımızla<br> her zaman yanınızdayız
                            </span>
                        </h2>

                    </div>

                </div>

            </div>



        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">

            <span class="carousel-control-prev-icon" aria-hidden="true"></span>

            <span class="sr-only">Previous</span>

        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">

            <span class="carousel-control-next-icon" aria-hidden="true"></span>

            <span class="sr-only">Next</span>

        </a>

    </div>

</div>

<!--SLIDER END-->
<!--SERVICES SECTION START-->

<div class="grid-carousel-container">

    <div class="row">

        <div class="col-md-3 col-lg-3 layer-counter">

            <div class="lc-content">


                <div class="counter-box">


                    <div class="counter">22</div>

                    <div class="span-plus">+</div>

                    <h4 class="lang" key="year">YILLIK</h4>

                    <h4 class="lang" key="esperinceslider" style="margin-bottom: 25px;">SEKTÖREL DENEYİM<br><br></h4>


                </div>


            </div>

        </div>

        <div class="col-md-9 col-lg-9 carousel-layer">

            <div class="grid-carousel slider">

                <div class="slide">

                    <div class="grid-layer">
                        <a href="Home/buharUretimSistemKilimalari">

                            <figure class="gl-thumbnail">
                                <img src="~/img/images/urunler/buhar-uretim/1.jpg" alt="">
                            </figure>

                            <div class="gl-caption">

                                <h2 class="lang" key="esperinceslider1">Buhar Üretim Sistem Kimyasalları</h2>

                            </div>

                            <div class="gl-overlay"></div>

                        </a>
                    </div>

                </div>

                <div class="slide">

                    <div class="grid-layer">
                        <a href="Home/sogutmaKulesiSistemleri">

                            <figure class="gl-thumbnail">
                                <img src="~/img/images/urunler/sogutma-kulesi/1.jpg" alt="">
                            </figure>

                            <div class="gl-caption">

                                <h2 class="lang" key="esperinceslider2">Soğutma Kulesi Sistemleri</h2>

                            </div>

                            <div class="gl-overlay-alt"></div>

                        </a>
                    </div>

                </div>

                <div class="slide">

                    <div class="grid-layer">
                        <a href="Home/kapaliDevreSistemleri">

                            <figure class="gl-thumbnail">
                                <img src="~/img/images/urunler/kapali-devre/1.jpg" alt="">
                            </figure>

                            <div class="gl-caption">

                                <h2 class="lang" key="esperinceslider3">Kapalı Devre Sistemleri</h2>

                            </div>

                            <div class="gl-overlay"></div>

                        </a>
                    </div>

                </div>

                <div class="slide">

                    <div class="grid-layer">
                        <a href="Home/dezenfeksiyonUrunleri">

                            <figure class="gl-thumbnail">
                                <img src="~/img/images/urunler/desenfeksiyon/1.jpg" alt="">
                            </figure>

                            <div class="gl-caption">

                                <h2 class="lang" key="esperinceslider4">Dezenfeksiyon Ürünleri</h2>

                            </div>

                            <div class="gl-overlay-alt"></div>

                        </a>
                    </div>

                </div>

                <div class="slide">

                    <div class="grid-layer">
                        <a href="kullanim-suyu-hatlari.html">

                            <figure class="gl-thumbnail">
                                <img src="~/img/images/urunler/kullanim-suyu/1.jpg" alt="">
                            </figure>

                            <div class="gl-caption">

                                <h2 class="lang" key="esperinceslider5">Kullanım Suyu Hatları</h2>

                            </div>

                            <div class="gl-overlay"></div>

                        </a>
                    </div>

                </div>

                <div class="slide">

                    <div class="grid-layer">
                        <a href="hvac.html">

                            <figure class="gl-thumbnail"><img src="~/img/images/urunler/hvac/1.jpg" alt=""></figure>

                            <div class="gl-caption">

                                <h2 class="lang" key="esperinceslider6">Hvac ve Endüstriyel Temizlik Ürünleri</h2>

                            </div>

                            <div class="gl-overlay-alt"></div>

                        </a>
                    </div>

                </div>

                <div class="slide">

                    <div class="grid-layer">
                        <a href="ters-osmoz.html">

                            <figure class="gl-thumbnail">
                                <img src="~/img/images/urunler/ters-osmoz/1.jpg" alt="">
                            </figure>

                            <div class="gl-caption">

                                <h2 class="lang" key="esperinceslider7">Ters Osmoz (R.O.) Birikinti Önleyici ve Temizlik Ürünleri</h2>

                            </div>

                            <div class="gl-overlay"></div>

                        </a>
                    </div>

                </div>

                <div class="slide">

                    <div class="grid-layer">
                        <a href="Home/bakteriUygulamalari">

                            <figure class="gl-thumbnail">
                                <img src="~/img/images/urunler/bakteri/1.jpg" alt="">
                            </figure>

                            <div class="gl-caption">

                                <h2 class="lang" key="esperinceslider8">Bakteri Uygulamaları</h2>

                            </div>

                            <div class="gl-overlay-alt"></div>

                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<!--SERVICES SECTION END-->
<!-- CONTENT START -->

<section>



    <!-- ABOUT START -->

    <div class="container">

        <div class="row">

            <div class="col-lg-7">

                <div class="og-section-tittle">

                    <h5 class="lang" key="Industrial">Azinfo Endüstriyel</h5>

                    <h2 class="lang" key="Institutional">Kurumsal</h2>

                </div>

                <div class="og-about-alt">



                    <p class="lang" key="Institutionalp1">
                        Ülkemizin önemli ve prestijli kuruluşlarını portföyünde bulunduran AZINFO, Türkiye’de su
                        şartlandırma danışmanlığı konusundaki otoritesini hizmet kalitesi ile
                        rakipsizleştirmektedir.
                    </p>



                    <p class="lang" key="Institutionalp2">
                        AZINFO, iş merkezlerinin, alışveriş merkezlerinin, fabrikaların, hastanelerin,
                        üniversitelerin, otellerin içme-kullanım sularında, ısıtma-soğutma sistemlerinde, buhar
                        kazanlarında, soğutma kulelerinde kullanılan kimyasalları ve kontrol ekipmanlarını sürekli
                        ve kaliteli servis hizmeti ile takip ederek müşterilerimizin pahalı ekipman yatırımlarını
                        koruyup, verimli ömrünün uzun olmasını sağlayarak ekonomiye katkı sağlamayı amaç edinmiştir.
                    </p>



                </div>



                <div class="btn-more">
                    <a class="btn btn-hover-corner lang" href="hakkimizda.html"
                       role="button" key="Institutionalp3">kurumsal</a>
                </div>

            </div>

            <div class="col-lg-5 space-break">

                <figure class="worker-portrait">

                    <img src="~/img/images/about-img-2.jpg" alt="">

                </figure>

            </div>

        </div>

    </div>

    <!-- ABOUT END -->
    <!-- WHY US SECTION START -->

    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-5 parallax-side-alt-2"></div>

            <div class="col-lg-7 content-side-alt">

                <div class="inner-content-alt">

                    <div class="panel-title">

                        <h2 class="lang" key="watersystem">Su Sistemleriniz Özel Su Şartlandırma Programımızla Korunmaktadır</h2>

                    </div>

                    <p class="lang" key="watersystem1" style="margin-bottom: 15px;">
                        Firmaların sorunlarına göre ihtiyacı olan çözümler üretilir ve
                        uygulamaya alınır. Bu çözümler ve cihazlarımızdan dozaj tanklarına kadar özenle kurduğumuz
                        su şartlandırma istasyonları ile korumaktadır.
                    </p>

                    <p class="lang" key="watersystem2">
                        Saha analiz çantamız ile gittiğimiz her firmada laboratuvar ortamı oluşturup özenle analizler
                        yapıyoruz.
                    </p>

                    <hr class="divider-alt">



                    <div class="span-services">

                        <div class="row">

                            <div class="col-sm-4 col-md-4 col-lg-4">

                                <div class="sp-counter">

                                    <div class="counter-statistics">

                                        <div class="counter">467</div>

                                        <p class="lang" key="contuning">Devam Eden</p>

                                        <p class="lang" key="contuning1" style="line-height: 2.8;">Projeler</p>

                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4 sp-counter-center">

                                <div class="sp-counter">

                                    <div class="counter-statistics">

                                        <div class="counter">1293</div>

                                        <p class="lang" key="contuning2">Tamamlanan</p>
                                        <p class="lang" key="contuning3" style="line-height: 2.8;">Projeler</p>

                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-4 col-md-4 col-lg-4">

                                <div class="sp-counter">

                                    <div class="counter-statistics">

                                        <div class="counter">278</div>

                                        <p class="lang" key="contuning4">Alınan</p>
                                        <p class="lang" key="contuning5" style="line-height: 2.8;">Ödüller</p>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- WHY US SECTION END -->
    <!-- CLIENTS START -->

    <div class="container-fluid clients-section">

        <div class="container">

            <div class="clients-carousel slider">

                <div class="slide">

                    <figure class="clients-logo"><img src="~/img/images/ref/client-1.png" alt=""></figure>

                </div>

                <div class="slide">

                    <figure class="clients-logo"><img src="~/img/images/ref/client-2.png" alt=""></figure>

                </div>

                <div class="slide">

                    <figure class="clients-logo"><img src="~/img/images/ref/client-3.png" alt=""></figure>

                </div>

                <div class="slide">

                    <figure class="clients-logo"><img src="~/img/images/ref/client-5.png" alt=""></figure>

                </div>

                <div class="slide">

                    <figure class="clients-logo"><img src="~/img/images/ref/client-6.png" alt=""></figure>

                </div>

                <div class="slide">

                    <figure class="clients-logo"><img src="~/img/images/ref/client-7.png" alt=""></figure>

                </div>

                <div class="slide">

                    <figure class="clients-logo"><img src="~/img/images/ref/client-8.png" alt=""></figure>

                </div>



            </div>

            <span style="text-align: center">

                <div class="btn-more"><a class="btn btn-hover-corner lang" key="contuning6" href="referanslar.html" role="button">Tüm Referanslarımız</a></div>

            </span>

        </div>

    </div>

    <!-- CLIENTS END -->
    <!-- LATEST NEWS START -->
    <!--<div class="container">

        <div class="section-title">

            <h2>Azinfo Haberler</h2>

        </div>

        <div class="news-carousel slider hover-effects image-hover">

            <div class="slide">

                <div class="blog-preview"><a href="haber-detay.html">

                        <div class="thumbnail-box">

                            <figure class="bp-thumbnail"><img src="~/img/images/post-preview1.jpg" alt=""></figure>

                        </div>

                        <div class="bp-caption">

                            <h3>4. Motivasyon ve Satış Değerlendirme Toplantısı</h3>

                            <p>04-07 Ocak tarihinde Hilton Oteli'nde gerçekleştirildi.</p>

                            <h5><a href="haber-detay.html">Haberi İncele</a></h5>

                        </div>

                    </a></div>

            </div>

            <div class="slide">

                <div class="blog-preview"><a href="haber-detay.html">

                        <div class="thumbnail-box">

                            <figure class="bp-thumbnail"><img src="~/img/images/post-preview1.jpg" alt=""></figure>

                        </div>

                        <div class="bp-caption">

                            <h3>4. Motivasyon ve Satış Değerlendirme Toplantısı</h3>

                            <p>04-07 Ocak tarihinde Hilton Oteli'nde gerçekleştirildi.</p>

                            <h5><a href="haber-detay.html">Haberi İncele</a></h5>

                        </div>

                    </a></div>

            </div>

            <div class="slide">

                <div class="blog-preview"><a href="haber-detay.html">

                        <div class="thumbnail-box">

                            <figure class="bp-thumbnail"><img src="~/img/images/post-preview1.jpg" alt=""></figure>

                        </div>

                        <div class="bp-caption">

                            <h3>4. Motivasyon ve Satış Değerlendirme Toplantısı</h3>

                            <p>04-07 Ocak tarihinde Hilton Oteli'nde gerçekleştirildi.</p>

                            <h5><a href="haber-detay.html">Haberi İncele</a></h5>

                        </div>

                    </a></div>

            </div>



        </div>

    </div>-->
    <!-- LATEST NEWS END -->



</section>

<!-- CONTENT START -->
