
@{
    ViewData["Title"] = "kullanimSuyuHatlari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections agriculture-bg">

    <div class="container">

        <div class="pages-title">

            <h1 class="lang" key="ProductsMain">Ürünler  </h1>

            <p class="lang pp1" key="dwl">Kullanım Suyu Hatları </p>

            <p><a class="lang" key="mainPage" asp-controller="Home" asp-action="Index">Anasayfa</a> &nbsp; > &nbsp; <a class="lang" key="ProductsMain" asp-controller="Home" asp-action="urunler">Ürünler</a> &nbsp; > &nbsp; <a class="lang" key="dwl" href="#">Kullanım Suyu Hatları</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="row">

            <!-- SIDEBAR START -->

            <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">

                <div class="sidebar-list">

                    <div class="list-group">

                        <a href="buharUretimSistemKilimalari" key="BUSK" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Buhar Üretim Sistem Kimyasalları

                        </a>

                        <a href="sogutmaKulesiSistemleri" key="cts" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Soğutma Kulesi Sistemleri

                        </a>

                        <a href="kapaliDevreSistemleri" key="ccs" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Kapalı Devre Sistemleri

                        </a>

                        <a href="dezenfeksiyonUrunleri" key="DF" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Dezenfeksiyon Ürünleri

                        </a>

                        <a href="kullanimSuyuHatlari" key="dwl" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Kullanım Suyu Hatları

                        </a>

                        <a href="hvac" key="hvac" class="list-group-item d-flex justify-content-between align-items-center lang">

                            HVAC ve Endüstriyel Temizlik Ürünleri

                        </a>

                        <a href="tesrOsmoz" key="RO" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Ters Osmoz (R.O.)

                        </a>

                        <a href="bakteriUygulamalari" key="bacteriaApp" class="list-group-item d-flex justify-content-between align-items-center lang">

                            Bakteri Uygulamaları

                        </a>

                    </div>

                </div>

            </div>

            <!-- SIDEBAR END -->
            <!-- PROJECT CONTENT START -->

            <div class="order-first order-md-9 col-lg-8 col-xl-9">

                <!--<figure class="solution-pic"><img src="~/img/images/agriculture-picture.jpg" alt=""></figure>-->

                <div class="solution-content ab-details">

                    <h2 class="lang" key="dwl">Kullanım Suyu Hatları</h2>

                    <div class="xxx" style="display:flex;">

                        <p><i class="fas fa-edit"></i></p>
                        <p class="lang" key="dwl1">Kireç ve Korozyon Önleyici Ürünler</p>

                    </div>

                </div>



                <div class="container">

                    <div class="grid" id="kehl-grid">

                        <div class="grid-sizer"></div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/urunler/kullanim-suyu/1.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/urunler/kullanim-suyu/1.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box chemical">

                            <a class="image-popup-vertical-fit" href="~/img/images/urunler/kullanim-suyu/2.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/urunler/kullanim-suyu/2.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box energy">

                            <a class="image-popup-vertical-fit" href="~/img/images/urunler/kullanim-suyu/3.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/urunler/kullanim-suyu/3.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/urunler/kullanim-suyu/4.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/urunler/kullanim-suyu/4.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/urunler/kullanim-suyu/5.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/urunler/kullanim-suyu/5.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box chemical">

                            <a class="image-popup-vertical-fit" href="~/img/images/urunler/kullanim-suyu/6.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/urunler/kullanim-suyu/6.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/urunler/kullanim-suyu/7.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/urunler/kullanim-suyu/7.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/urunler/kullanim-suyu/8.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/urunler/kullanim-suyu/8.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="~/img/images/urunler/kullanim-suyu/9.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/urunler/kullanim-suyu/9.jpg" alt="" />

                            </a>

                        </div>

                    </div>

                </div>

            </div>

            <!-- PROJECT CONTENT END -->

        </div>

    </div>

</section>

<!-- CONTENT start -->
