
@{
    ViewData["Title"] = "laboratuvarHizmetleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections agriculture-bg">

    <div class="container">

        <div class="pages-title">

            <h1 class="lang" key="services">Hizmetler </h1>

            <p class="lang pp1"  key="labService">Laboratuvar Hizmetleri</p>

            <p><a asp-controller="Home" asp-action="Index" class="lang" key="mainPage">Anasayfa</a> &nbsp; > &nbsp; <a class="lang" key="services" asp-controller="Home" asp-action="hizmetler">Hizmetler</a> &nbsp; > &nbsp; <a href="#" class="lang"  key="labService">Laboratuvar Hizmetleri</a></p>

        </div>

    </div>

</div>


<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="row">

            <!-- SIDEBAR START -->

            <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">

                <div class="sidebar-list">

                    <div class="list-group">

                        <a asp-controller="Home" asp-action="suSartlandirmaHizmeti" class="list-group-item d-flex justify-content-between align-items-center lang" key="WaterConditioningService">

                            Su Şartlandırma Hizmeti

                        </a>

                        <a asp-controller="Home" asp-action="laboratuvarHizmetleri" class="list-group-item d-flex justify-content-between align-items-center lang" key="labService">

                            Laboratuvar Hizmetleri

                        </a>

                        <a asp-controller="Home" asp-action="legionellaAnalizleri" class="list-group-item d-flex justify-content-between align-items-center lang" key="LegionellaAnalyzes">

                            Legionella Analizleri

                        </a>

                        <a asp-controller="Home" asp-action="geriKazanim" class="list-group-item d-flex justify-content-between align-items-center lang" key="Regain">

                            Geri Kazanım

                        </a>

                        <a asp-controller="Home" asp-action="sistemlerinUzaktanKontrolEdilmesi" class="list-group-item d-flex justify-content-between align-items-center lang" key="RemoteControlSystems">

                            Sistemlerin Uzaktan Kontrol Edilmesi

                        </a>

                        <a asp-controller="Home" asp-action="dataloggerIleVerilenToplanmasi" class="list-group-item d-flex justify-content-between align-items-center lang" key="DataCollectionDatalogger">

                            Datalogger İle Verilerin Toplanması

                        </a>

                        <a asp-controller="Home" asp-action="ozonlaBakteriGiderimSistemleri" class="list-group-item d-flex justify-content-between align-items-center lang" key="OBGS">

                            Ozonla Bakteri Giderim Sistemleri

                        </a>

                        <a asp-controller="Home" asp-action="notralizasyonSistemleri" class="list-group-item d-flex justify-content-between align-items-center lang" key="NeutralizationSystem">

                            Nötralizasyon Sistemi

                        </a>

                    </div>

                </div>

            </div>

            <!-- SIDEBAR END -->
            <!-- PROJECT CONTENT START -->

            <div class="order-first order-md-9 col-lg-8 col-xl-9">

                <!--<figure class="solution-pic"><img src="~/img/images/agriculture-picture.jpg" alt=""></figure>-->

                <div class="solution-content  ab-details">

                    <h2 class="lang" key="labService">Laboratuvar Hizmetleri</h2>

                    <p class="lang" key="labService1">Saha analiz çantamız ile gittiğimiz her firmada laboratuvar ortamı oluşturup özenle analizler yapıyoruz. Bunlarla ilgili fotoğraf ve videoları aşağıda bulabilirsiniz.</p>

                </div>



                <div class="container">

                    <div class="grid" id="kehl-grid">

                        <div class="grid-sizer"></div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/hizmetler/laboratuvar/1.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/hizmetler/laboratuvar/1.jpg" alt="" />

                            </a>

                        </div>





                    </div>

                </div>

            </div>

            <!-- PROJECT CONTENT END -->

        </div>

    </div>

</section>

<!-- CONTENT start -->
