
@{
    ViewData["Title"] = "legionellaAnalizleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections agriculture-bg">

    <div class="container">

        <div class="pages-title">

            <h1 class="lang" key="services">Hizmetler</h1>

            <p class="lang pp1" key="LegionellaAnalyzes">Legionella Analizleri</p>

            <p><a asp-controller="Home" asp-action="Index" class="lang" key="mainPage">Anasayfa</a> &nbsp; > &nbsp; <a asp-controller="Home" asp-action="hizmetler" class="lang" key="services">Hizmetler</a> &nbsp; > &nbsp; <a href="#" class="lang" key="LegionellaAnalyzes">Legionella Analizleri</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <div class="container">

        <div class="row">

            <!-- SIDEBAR START -->

            <div class="order-last order-md-3 col-lg-4  col-xl-3 space-break">

                <div class="sidebar-list">

                    <div class="list-group">

                        <a asp-controller="Home" asp-action="suSartlandirmaHizmeti" class="list-group-item d-flex justify-content-between align-items-center lang" key="WaterConditioningService">

                            Su Şartlandırma Hizmeti

                        </a>

                        <a asp-controller="Home" asp-action="laboratuvarHizmetleri" class="list-group-item d-flex justify-content-between align-items-center lang" key="labService">

                            Laboratuvar Hizmetleri

                        </a>

                        <a asp-controller="Home" asp-action="legionellaAnalizleri" class="list-group-item d-flex justify-content-between align-items-center">

                            Legionella Analizleri

                        </a>

                        <a asp-controller="Home" asp-action="geriKazanim" class="list-group-item d-flex justify-content-between align-items-center">

                            Geri Kazanım

                        </a>

                        <a asp-controller="Home" asp-action="sistemlerinUzaktanKontrolEdilmesi" class="list-group-item d-flex justify-content-between align-items-center">

                            Sistemlerin Uzaktan Kontrol Edilmesi

                        </a>

                        <a asp-controller="Home" asp-action="dataloggerIleVerilenToplanmasi" class="list-group-item d-flex justify-content-between align-items-center">

                            Datalogger İle Verilerin Toplanması

                        </a>

                        <a asp-controller="Home" asp-action="ozonlaBakteriGiderimSistemleri" class="list-group-item d-flex justify-content-between align-items-center">

                            Ozonla Bakteri Giderim Sistemleri

                        </a>

                        <a asp-controller="Home" asp-action="notralizasyonSistemleri" class="list-group-item d-flex justify-content-between align-items-center">

                            Nötralizasyon Sistemi

                        </a>

                    </div>

                </div>

            </div>

            <!-- SIDEBAR END -->
            <!-- PROJECT CONTENT START -->

            <div class="order-first order-md-9 col-lg-8 col-xl-9">

                <!--<figure class="solution-pic"><img src="~/img/images/agriculture-picture.jpg" alt=""></figure>-->

                <div class="solution-content  ab-details">

                    <h2 class="lang" key="LegionellaAnalyzes">Legionella Analizleri</h2>



                    <p class="lang" key="LegionellaDescription1">Legionella bakterisi doğadaki su kaynaklarından gelen bakterilerdir, binaların su sistemlerine yerleşir ve uygun ortam bulunca çoğalır. Özellikle üremesi ve çoğalması için su sıcaklığının 25-42 oC arasında ısıya gerek vardır. Yüksek sıcaklıklarda üremesi durur ve ölmeye başlar, teorik olarak 70oC 'nin üzerinde yaşaması mümkün değildir. Suyun pH’ı ise 5,5-8,5 arasında olmalıdır. Legionella ; Su içinde serbest halde, ameobae içinde (Acanthamoeba sp, Naegleria sp) veya biofilm içerisinde yaşarlar. Korozyon ve biofilm oluşumu sonucu ortaya çıkan nutrientler beslenmesini ve çoğalmasını sağlar. Biofilm, bakteri ile mücadelede dezenfektanın etkinliğini azaltır. Korozyon ise nutrientlerin ortaya çıkmasına neden olur ve biofilm oluşumunu arttırır. Legionella ile mücadelede müşterilerimizde yapılan ziyaretlerimizde bu bakterileri takip etmek amaçlı düzenli aralıklarla numune alınıp İngiltere’deki ileri teknolojiye sahip anlaşmalı laboratuvarımıza yollamaktayız. </p>



                    <p class="lang" key="LegionellaDescription2">Türkiye’de maalesef legionella bakterisinin sayımını yapabilen laboratuvar bulunmamaktadır. Ülkemizde legionella bakterisine gerektiği önem verilmesede bu bakterilerin yayılması aşırı derecede kolaydır. Su zerreciklerinin içerisine yerleşir ve hava yoluyla alınması sonucu vücuda girer. Büyük binalardaki (Otel, hastane, iş ve alışveriş merkezleri, bakım evleri..) soğutma kuleli klima sistemlerinden, duş başlıklarından, musluklardan, jakuzilerden, hamamlardan, bahçe sulama için kullanılan sprinklerden havaya yayılarak, hastanelerde solunum sağlayıcı ekipmanlardan (Nebulizatör, aspiratör, endoskopi..) bulaşır. Bu yüzden Legionella bakterisinin düzenli aralıklarla sayımının yapılması bu sayının kontrol altında tutulması kritik önem taşır.</p>



                </div>



                <div class="container">

                    <div class="grid" id="kehl-grid">

                        <div class="grid-sizer"></div>

                        <div class="grid-box">

                            <a class="image-popup-vertical-fit" href="img/images/hizmetler/legionella/1.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/hizmetler/legionella/1.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box chemical">

                            <a class="image-popup-vertical-fit" href="img/images/hizmetler/legionella/2.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/hizmetler/legionella/2.jpg" alt="" />

                            </a>

                        </div>

                        <div class="grid-box energy">

                            <a class="image-popup-vertical-fit" href="img/images/hizmetler/legionella/3.jpg">

                                <div class="image-mask"></div>

                                <img src="~/img/images/hizmetler/legionella/3.jpg" alt="" />

                            </a>

                        </div>





                    </div>

                </div>

            </div>

            <!-- PROJECT CONTENT END -->

        </div>

    </div>

</section>

<!-- CONTENT START -->
