
@{
    ViewData["Title"] = "referanslar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1><span class="lang" key="communications">Referanslar</span></h1>

            <p><a class="lang" key="mainPage" asp-controller="Home" asp-action="Index">Anasayfa</a> &nbsp; > &nbsp; <a class="lang" key="communications" href="#">Referanslar</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <!-- TEAM START -->

    <div class="container">

        <div class="row">



            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-17.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3 tp-desktop-view">

                <div class="team-portrait">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-1.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-2.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-3.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-5.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-6.png" alt=""></figure>

                </div>

            </div>





            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-8.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-10.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-11.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-12.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-13.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-14.png" alt=""></figure>

                </div>

            </div>



            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-15.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-16.png" alt=""></figure>

                </div>

            </div>



            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-18.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-19.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-20.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-21.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-22.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-23.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-24.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-25.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-26.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-27.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-28.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-29.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-30.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-31.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-32.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-33.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-34.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-35.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-36.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-37.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-38.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-39.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-40.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-41.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-42.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-43.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-44.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-45.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-46.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-47.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-48.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-49.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-50.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-51.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-52.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-53.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-54.png" alt=""></figure>

                </div>

            </div>

            <div class="col-6 col-md-4 col-lg-3">

                <div class="team-portrait tp-desktop-view">

                    <figure class="tp-headshot"><img src="~/img/images/ref/client-55.png" alt=""></figure>

                </div>

            </div>









        </div>

    </div>

    <!-- TEAM START -->

</section>

<!-- CONTENT start -->
