
@{
    ViewData["Title"] = "urunler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1><span class="lang" key="ProductsMain">Ürünler</span></h1>

            <p><a class="lang" key="mainPage" asp-controller="Home" asp-action="Index">Anasayfa</a> &nbsp; > &nbsp; <a class="lang" key="ProductsMain" href="#">Ürünler</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <!-- SERVICES START -->

    <div class="container">

        <div class="section-tittle-alt">

            <h2 class="lang" key="ProductsMain">Ürünler</h2>

        </div>

        <p class="gallery-info service-alt lang" key="productDiscription">Özel donanımlı laboratuvarımızda yaptığımız düzenli analizlerele kiraç, korozyon ve mikrobiyolojik aktivasyon gibi risklere karşı önlem alıyoruz.</p>

        <div class="row hover-effects image-hover">

            <div class="col-md-6 col-lg-4">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="buharUretimSistemKilimalari">

                        <figure class="service-thumbnail"><img src="~/img/images/urunler/buhar-uretim/1.jpg" alt=""></figure>

                        <div class="sb-caption">

                            <h3 class="lang" key="BUSK">Buhar Üretim Sistem Kimyasalları</h3>

                            <h5><a class="lang" key="productItemDiscription" asp-controller="Home" asp-action="buharUretimSistemKilimalari">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-movil-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="sogutmaKulesiSistemleri">

                        <figure class="service-thumbnail"><img src="~/img/images/urunler/sogutma-kulesi/1.jpg" alt=""></figure>

                        <div class="sb-caption">

                            <h3 class="lang" key="cts">Soğutma Kulesi Sistemleri</h3>

                            <h5><a class="lang" key="productItemDiscription" asp-controller="Home" asp-action="sogutmaKulesiSistemleri">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-tablet-view">

                <div class="service-box">
                    <a  asp-controller="Home" asp-action="kapaliDevreSistemleri">

                        <figure class="service-thumbnail"><img src="~/img/images/urunler/kapali-devre/1.jpg" alt=""></figure>

                        <div class="sb-caption">

                            <h3 class="lang" key="ccs">Kapalı Devre Sistemleri</h3>

                            <h5><a class="lang" key="productItemDiscription" asp-controller="Home" asp-action="kapaliDevreSistemleri">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a  asp-controller="Home" asp-action="dezenfeksiyonUrunleri" >

                        <figure class="service-thumbnail"><img src="~/img/images/urunler/desenfeksiyon/1.jpg" alt=""></figure>

                        <div class="sb-caption">

                            <h3 class="lang" key="DF">Dezenfeksiyon Ürünleri</h3>

                            <h5><a class="lang" key="productItemDiscription" asp-controller="Home" asp-action="dezenfeksiyonUrunleri">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a  asp-controller="Home" asp-action="kullanimSuyuHatlari">

                        <figure class="service-thumbnail"><img src="~/img/images/urunler/kullanim-suyu/1.jpg" alt=""></figure>

                        <div class="sb-caption">

                            <h3 class="lang" key="dwl">Kullanım Suyu Hatları</h3>

                            <h5><a class="lang" key="productItemDiscription" asp-controller="Home" asp-action="kullanimSuyuHatlari">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="hvac">

                        <figure class="service-thumbnail"><img src="~/img/images/urunler/hvac/1.jpg" alt=""></figure>

                        <div class="sb-caption">

                            <h3 class="lang" key="hvac">HVAC ve Endüstriyel Temizlik Ürünleri</h3>

                            <h5><a class="lang" key="productItemDiscription" asp-controller="Home" asp-action="hvac">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>



            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="tesrOsmoz">

                        <figure class="service-thumbnail"><img src="~/img/images/urunler/ters-osmoz/1.jpg" alt=""></figure>

                        <div class="sb-caption">

                            <h3 class="lang" key="RO2">Ters Osmoz (R.O.) Birikinti Önleyici ve Temizlik Ürünleri</h3>

                            <h5><a class="lang" key="productItemDiscription" asp-controller="Home" asp-action="tesrOsmoz">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>



            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="bakteriUygulamalari">

                        <figure class="service-thumbnail"><img src="~/img/images/urunler/bakteri/1.jpg" alt=""></figure>

                        <div class="sb-caption">

                            <h3 class="lang" key="bacteriaApp">Bakteri Uygulamaları</h3>

                            <h5><a class="lang" key="productItemDiscription" asp-controller="Home" asp-action="bakteriUygulamalari">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

        </div>

    </div>

    <!-- SERVICES START -->



</section>

<!-- CONTENT end -->