
@{
    ViewData["Title"] = "urunler2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1><span class="lang" key="ProductsMain">Ürünler</span></h1>

            <p><a asp-controller="Home" asp-action="Index" class="lang" key="mainPage">Anasayfa</a> &nbsp; > &nbsp; <a href="#"class="lang" key="ProductsMain">Ürünler</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <!-- SERVICES START -->

    <div class="container">

        <div class="section-tittle-alt">

            <h2 class="lang" key="ProductsMain">Ürünler</h2>

        </div>

        <p class="gallery-info service-alt lang" key="productDiscription">Özel donanımlı laboratuvarımızda yaptığımız düzenli analizlerele kiraç, korozyon ve mikrobiyolojik aktivasyon gibi risklere karşı önlem alıyoruz.</p>

        <div class="row hover-effects image-hover">

            <div class="col-md-6 col-lg-4">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="buharUretimSistemKilimalari">

                        <figure class="service-thumbnail"><img src="~/imgimages/welding.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/welding1.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3 class="lang" key="BUSK">Buhar Üretim Sistem Kimyasalları</h3>

                            <h5><a asp-controller="Home" asp-action="buharUretimSistemKilimalari" class="lang" key="productItemDiscription">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-movil-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="sogutmaKulesiSistemleri" >

                        <figure class="service-thumbnail"><img src="~/imgimages/oil-and-gas.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/barrel-white.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3 class="lang" key="cts">Soğutma Kulesi Sistemleri</h3>

                            <h5><a asp-controller="Home" asp-action="sogutmaKulesiSistemleri" class="lang" key="productItemDiscription">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-tablet-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="kapaliDevreSistemleri" >

                        <figure class="service-thumbnail"><img src="~/imgimages/material.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/chains.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3 class="lang" key="ccs">Kapalı Devre Sistemleri</h3>

                            <h5><a asp-controller="Home" asp-action="kapaliDevreSistemleri" class="lang" key="productItemDiscription">Detaylı Bilgi</a></h5>


                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="dezenfeksiyonUrunleri" >

                        <figure class="service-thumbnail"><img src="~/imgimages/mechanical.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/mechanic.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3 class="lang" key="DF">Dezenfeksiyon Ürünleri</h3>

                            <h5><a asp-controller="Home" asp-action="dezenfeksiyonUrunleri" class="lang" key="productItemDiscription">Detaylı Bilgi</a></h5>


                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a  asp-controller="Home" asp-action="kullanimSuyuHatlari" >

                        <figure class="service-thumbnail"><img src="~/imgimages/eolic.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/eolic-white.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3 class="lang" key="dwl">Kullanım Suyu Hatları</h3>

                            <h5><a asp-controller="Home" asp-action="kullanimSuyuHatlari" class="lang" key="productItemDiscription">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="hvac">

                        <figure class="service-thumbnail"><img src="~/imgimages/agriculture.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/farm.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3 class="lang" key="hvac">HVAC ve Endüstriyel Temizlik Ürünleri</h3>

                            <h5><a asp-controller="Home" asp-action="hvac" class="lang" key="productItemDiscription">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>



            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="tesrOsmoz">

                        <figure class="service-thumbnail"><img src="~/imgimages/agriculture.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/farm.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3 class="lang" key="RO2">Ters Osmoz (R.O.) Birikinti Önleyici ve Temizlik Ürünleri</h3>

                            <h5>
                                <a asp-controller="Home" asp-action="tesrOsmoz" class="lang" key="productItemDiscription">Detaylı Bilgi</a>
                            </h5>

                        </div>

                    </a>
                </div>

            </div>



            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a asp-controller="Home" asp-action="bakteriUygulamalari">

                        <figure class="service-thumbnail"><img src="~/imgimages/agriculture.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/farm.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3 class="lang" key="bacteriaApp">Bakteri Uygulamaları</h3>

                            <h5>
                                <a asp-controller="Home" asp-action="bakteriUygulamalari" class="lang" key="productItemDiscription">Detaylı Bilgi</a>
                            </h5>

                        </div>

                    </a>
                </div>

            </div>

        </div>

    </div>

    <!-- SERVICES START -->



</section>

<!-- CONTENT END -->
