
@{
    ViewData["Title"] = "urunler2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="sections">

    <div class="container">

        <div class="pages-title">

            <h1><span class="lang" key="ProductsMain">Ürünler</span></h1>

            <p><a href="index.html" class="lang" key="mainPage">Anasayfa</a> &nbsp; > &nbsp; <a href="#"class="lang" key="ProductsMain">Ürünler</a></p>

        </div>

    </div>

</div>



<!-- CONTENT START -->

<section>

    <!-- SERVICES START -->

    <div class="container">

        <div class="section-tittle-alt">

            <h2 class="lang" key="ProductsMain">Ürünler</h2>

        </div>

        <p class="gallery-info service-alt lang" key="productDiscription">Özel donanımlı laboratuvarımızda yaptığımız düzenli analizlerele kiraç, korozyon ve mikrobiyolojik aktivasyon gibi risklere karşı önlem alıyoruz.</p>

        <div class="row hover-effects image-hover">

            <div class="col-md-6 col-lg-4">

                <div class="service-box">
                    <a href="buhar-uretim-sistem-kimyasallari.html">

                        <figure class="service-thumbnail"><img src="~/imgimages/welding.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/welding1.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3>Buhar Üretim Sistem Kimyasalları</h3>

                            <h5><a href="buhar-uretim-sistem-kimyasallari.html">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-movil-view">

                <div class="service-box">
                    <a href="sogutma-kulesi-sistemleri.html">

                        <figure class="service-thumbnail"><img src="~/imgimages/oil-and-gas.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/barrel-white.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3>Soğutma Kulesi Sistemleri</h3>

                            <h5><a href="sogutma-kulesi-sistemleri.html">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-tablet-view">

                <div class="service-box">
                    <a href="kapali-devre-sistemleri.html">

                        <figure class="service-thumbnail"><img src="~/imgimages/material.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/chains.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3>Kapalı Devre Sistemleri</h3>

                            <h5><a href="kapali-devre-sistemleri.html">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a href="dezenfeksiyon-urunleri.html">

                        <figure class="service-thumbnail"><img src="~/imgimages/mechanical.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/mechanic.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3>Dezenfeksiyon Ürünleri</h3>

                            <h5><a href="dezenfeksiyon-urunleri.html">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a href="kullanim-suyu-hatlari.html">

                        <figure class="service-thumbnail"><img src="~/imgimages/eolic.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/eolic-white.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3>Kullanım Suyu Hatları</h3>

                            <h5><a href="kullanim-suyu-hatlari.html">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a href="hvac.html">

                        <figure class="service-thumbnail"><img src="~/imgimages/agriculture.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/farm.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3>HVAC ve Endüstriyel Temizlik Ürünleri</h3>

                            <h5><a href="hvac.html">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>



            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a href="ters-osmoz.html">

                        <figure class="service-thumbnail"><img src="~/imgimages/agriculture.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/farm.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3>Ters Osmoz (R.O.) Birikinti Önleyici ve Temizlik Ürünleri</h3>

                            <h5><a href="ters-osmoz.html">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>



            <div class="col-md-6 col-lg-4 sb-desktop-view sb-tablet-view">

                <div class="service-box">
                    <a href="bakteri-uygulamalari.html">

                        <figure class="service-thumbnail"><img src="~/imgimages/agriculture.jpg" alt=""></figure>

                        <div class="sb-icon-box">

                            <figure class="sb-icon"><img src="~/imgmaster/farm.svg" alt=""></figure>

                        </div>

                        <div class="sb-caption">

                            <h3>Bakteri Uygulamaları</h3>

                            <h5><a href="bakteri-uygulamalari.html">Detaylı Bilgi</a></h5>

                        </div>

                    </a>
                </div>

            </div>

        </div>

    </div>

    <!-- SERVICES START -->



</section>

<!-- CONTENT END -->
